<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Pie charts</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 4 20 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <div class="page-content-wrap">
                        <h1>PieChart</h1>

                        <h2>Default settings</h2>
                        <section>
                            <div id="defaultPChart" class="std_chart_wrap"></div>
                        </section>

                        <h2>Title and offset sector</h2>
                        <section>
                            <div id="offsetPChart" class="std_chart_wrap"></div>
                            <div id="hovtitle" class="info-bottom"></div>
                        </section>

                        <h2>'innerRadius' property</h2>
                        <section>
                            <div id="innerPChart" class="std_chart_wrap">
                                <div id="hovtitle-inner" class="info-inner"></div>
                            </div>
                        </section>

                        <h2>Single value</h2>
                        <section class="row-section single-value-section">
                            <div id="singleValPChart" class="std_chart_wrap"></div>
                            <div id="singleValInnerPChart" class="std_chart_wrap"></div>
                        </section>

                        <h2>No data test</h2>
                        <section>
                            <div id="noDataPChart" class="std_chart_wrap"></div>
                            <div class="section-controls">
                                <button id="setNoDataBtn" class="btn" type="button">Set no data</button>
                                <button id="setDataBtn" class="btn" type="button">Set data</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>