/* Relative container of Date Picker */
.dp__container {
  --dp-header-font-size: 1rem;
  --dp-header-font-weight: 400;
  --dp-bg-color: #ffffff;
  --dp-border-color: #000000;
  --dp-border-width: 2px;
  --dp-text-color: #000000;
  --dp-disabled-text-color: #dddddd;
  --dp-other-text-color: #b0b0b0;
  --dp-active-color: #20d0ff;
  --dp-today-color: #20d0ff;
  --dp-hover-bg-color: #80d0ff;
  --dp-hover-color: #ffffff;
  --dp-hl-bg-color: #80d0ff;
  --dp-hl-color: #ffffff;
  --dp-nav-fill: #b0b0b0;
  --dp-nav-hover-fill: #80d0ff;
  --dp-width: 19rem;
  --dp-min-width: 300px;

  position: relative;
  max-width: 100%;
}

/* View wrapper */
.dp__wrapper {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  min-width: var(--dp-min-width);
  width: calc(var(--dp-width) + var(--dp-border-width) * 2);
  overflow: hidden;
  background-color: var(--dp-bg-color);
  color: var(--dp-text-color);
  border: var(--dp-border-width) solid var(--dp-border-color);
  font-size: 1rem;
  z-index: 1000;
}

.dp__static-wrapper {
  position: static;
  z-index: auto;
}

.dp__header {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  text-align: center;
  align-items: center;
}

.dp__header_item {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.dp__header_title {
  height: 2rem;
  line-height: 2rem;
  font-size: var(--dp-header-font-size);
  font-weight: var(--dp-header-font-weight);
  text-transform: capitalize;
}

.dp__header_nav {
  aspect-ratio: 4 / 3;

  .dp__header_nav-icon {
    height: 32px;
    width: 32px;
    padding: 0.5rem;
    fill: var(--dp-nav-fill);
  }

  &.dp__header_nav-next .dp__header_nav-icon {
    rotate: 180deg;
  }
}

/* View layer */
.dp__view {
  position: relative;
  overflow: hidden;
}

.dp__slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: relative;
  left: -100%;
}

/* Container of view cells */
.dp__view-container {
  display: grid;
  flex-shrink: 0;
  max-width: 100%;
  min-width: var(--dp-min-width);
  width: var(--dp-width);
  transform: none;
  transition-delay: 0s;
  transform-origin: 0 0;
}

/* Common class for all kind of cells */
.dp__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 4 / 3;
  color: var(--dp-text-color);
  border: 1px solid var(--dp-bg-color);
  background-color: var(--dp-bg-color);
}

/* Year view */
.dp__year-view {
  grid-template-columns: repeat(4, 1fr);
}

/* Year range view */
.dp__year-range-view {
  grid-template-columns: repeat(4, 1fr);
}

.dp__year-range-view__cell,
.dp__year-view__cell {
  padding: 0.25rem;
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2.5rem;
  cursor: pointer;
}

/* Month view */
.dp__month-view {
  grid-template-columns: repeat(7, 1fr);
}

.dp__month-view_cell {
  font-weight: 400;
  padding: 0.2rem;
  font-size: 0.85rem;
}

.dp__weekday-cell {
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.4rem;
}

.dp__day-cell {
  font-size: 1rem;
  cursor: pointer;
  padding: 0 0.6rem;
  line-height: 1.4rem;
}

.dp__day-cell[disabled] {
  color: var(--dp-disabled-text-color);
  border-color: var(--dp-bg-color);
  background-color: var(--dp-bg-color);
  pointer-events: none;
}

.dp__other-month-cell {
  color: var(--dp-other-text-color);
}

.dp__today-cell {
  border: 1px dashed var(--dp-today-color);
}

.dp__cell_act {
  border: 1px solid var(--dp-active-color);
}

.dp__cell_hl {
  background-color: var(--dp-hl-bg-color);
  border: 1px solid var(--dp-hl-bg-color);
  color: var(--dp-hl-color);
}

/* Animation */
.dp__animated {
  pointer-events: none;
}

.dp__animated-view,
.dp__animated-view > .dp__view-container,
.dp__animated-view .dp__slider {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}

.dp__layered-view {
  position: absolute;
  top: 0;
  left: 0;

  &.top_from {
    z-index: 3;
    opacity: 1;
  }

  &.top_to {
    z-index: 3;
    opacity: 0;
  }

  &.bottom_from {
    z-index: 2;
    opacity: 1;
  }

  &.bottom_to {
    z-index: 2;
    opacity: 0;
  }
}

@media (hover: hover) {
  .dp__header_title:hover {
    color: var(--dp-active-color);
  }

  .dp__header_nav:hover .dp__header_nav-icon {
    fill: var(--dp-nav-hover-fill);
  }

  .dp__year-range-view__cell:hover,
  .dp__year-view__cell:hover,
  .dp__day-cell:hover {
    background-color: var(--dp-hover-bg-color);
    color: var(--dp-hover-color);
  }
}
