/* Relative container of Date Picker */
.dp__container {
  --dp-bg-color: #ffffff;
  --dp-border-color: #000000;
  --dp-border-width: 2px;
  --dp-text-color: #000000;
  --dp-other-text-color: #b0b0b0;
  --dp-active-color: #20d0ff;
  --dp-today-color: #20d0ff;
  --dp-hover-bg-color: #80d0ff;
  --dp-hover-color: #ffffff;
  --dp-hl-bg-color: #80d0ff;
  --dp-hl-color: #ffffff;
  --dp-nav-fill: #b0b0b0;
  --dp-nav-hover-fill: #80d0ff;

  position: relative;
  max-width: 100%;
}

/* View wrapper */
.dp__wrapper {
  position: absolute;
  min-width: 300px;
  overflow: hidden;
  background-color: var(--dp-bg-color);
  color: var(--dp-text-color);
  border: var(--dp-border-width) solid var(--dp-border-color);
  font-size: 1rem;
  z-index: 1000;
}

.dp__static-wrapper {
  position: static;
  z-index: auto;
}

.dp__header {
  text-align: center;
}

.dp__header_item {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
}

.dp__header_title {
  width: 80%;
}

.dp__header_nav {
  width: 10%;

  .dp__header_nav-icon {
    width: 25%;
    vertical-align: middle;
    fill: var(--dp-nav-fill);
    display: inline-block;
  }

  &.dp__header_nav-next .dp__header_nav-icon {
    rotate: 180deg;
  }
}

/* Common class for all kind of cells */
.dp__cell {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  color: var(--dp-text-color);
  border: 1px solid var(--dp-bg-color);
  background-color: var(--dp-bg-color);
}

/* Year view */
.dp__year-range-view__cell,
.dp__year-view__cell {
  width: 25%;
  padding: 3% 4%;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 2rem;
  cursor: pointer;
}

/* Month view */
.dp__month-view_cell {
  width: 14.2857%;
  font-weight: 400;
  padding: 0.2rem;
  font-size: 0.85rem;
}

.dp__weekday-cell {
  text-align: center;
  font-weight: 500;
}

.dp__day-cell {
  font-size: 1rem;
  text-align: right;
  cursor: pointer;
  padding: 1.75% 4%;
  line-height: 1.4rem;
}

.dp__other-month-cell {
  color: var(--dp-other-text-color);
}

.dp__today-cell {
  border: 1px dashed var(--dp-today-color);
}

.dp__cell_act {
  border: 1px solid var(--dp-active-color);
}

.dp__cell_hl {
  background-color: var(--dp-hl-bg-color);
  border: 1px solid var(--dp-hl-bg-color);
  color: var(--dp-hl-color);
}

/* View layer */
.dp__view {
  position: relative;
  overflow: hidden;
}

.dp__slider {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  width: fit-content;
  position: relative;
  left: -100%;
}

/* Container of view cells */
.dp__view-container {
  flex-shrink: 0;
  max-width: 100%;
  transform: none;
  transition-delay: 0s;
  transform-origin: 0 0;
}

/* Animation */
.dp__animated {
  pointer-events: none;
}

.dp__animated-view,
.dp__animated-view > .dp__view-container,
.dp__animated-view .dp__slider {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}

.dp__layered-view {
  position: absolute;
  top: 0;
  left: 0;

  &.top_from {
    z-index: 3;
    opacity: 1;
  }

  &.top_to {
    z-index: 3;
    opacity: 0;
  }

  &.bottom_from {
    z-index: 2;
    opacity: 1;
  }

  &.bottom_to {
    z-index: 2;
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .dp__container,
  .dp__view-container {
    width: 19rem;
  }

  .dp__wrapper {
    width: calc(19rem + var(--dp-border-width) * 2);
  }

  .dp__day-cell {
    padding: 0 0.6rem;
  }

  .dp__year-range-view__cell,
  .dp__year-view__cell {
    padding: 0.2rem;
  }
}

@media (hover: hover) {
  .dp__header_title:hover {
    color: var(--dp-active-color);
  }

  .dp__header_nav:hover .dp__header_nav-icon {
    fill: var(--dp-nav-hover-fill);
  }

  .dp__year-range-view__cell:hover,
  .dp__year-view__cell:hover,
  .dp__day-cell:hover {
    background-color: var(--dp-hover-bg-color);
    color: var(--dp-hover-color);
  }
}
