<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Offcanvas</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">
            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>Offcanvas</h1>

                        <div class="content-container"></div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div hidden>
        <div id="defaultContent" class="offcanvas-nav" hidden>
            <button id="toggleTopBtn" class="btn action-btn" type="button">Toggle</button>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </div>

        <ul id="rightContent" class="offcanvas-nav" hidden>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>

        <ul id="topContent" class="offcanvas-horizontal-nav" hidden>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>

        <ul id="bottomContent" class="offcanvas-horizontal-nav" hidden>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
            <li>Item 4</li>
            <li>Item 5</li>
        </ul>

        <div id="responsiveContent" hidden>
            <h3>Responsive</h3>
            <ul class="offcanvas-nav">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </div>

        <div id="useScrollLockContent" hidden>
            <h3>'useScrollLock' option</h3>
            <ul class="offcanvas-nav">
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
            </ul>
        </div>

    </div>
</body>

</html>