/* Main container for charts */
.charts {
  --chart-grid-color: #808080;
  --chart-text-size: 14px;

  /* Popup */
  --chart-popup-text: #000000;
  --chart-popup-border: #000000;
  --chart-popup-bg: #ffffff;

  /* Histogram */
  --historgam-bar-color: #20a0ff;
  --historgam-active-bar-color: #00bfff;

  /* Linechart */
  --linechart-item-fill: #ffffff;
  --linechart-item-border: #20a0ff;
  --linechart-line-color: #20a0ff;
  --linechart-active-item-fill: #00bfff;
  --linechart-active-item-border: #00bfff;

  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
}

.chart__container {
  flex-basis: 100%;
  overflow: hidden;
}

.chart__scroller {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

/* Main content SVG element */
.chart__content {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  overflow: hidden;
}

/* Bar chart information popup */
.chart__popup {
  position: absolute;
  color: var(--chart-popup-text);
  border: 1px solid var(--chart-popup-border);
  background-color: var(--chart-popup-bg);
  padding: 5px;
  white-space: nowrap;
}

/* List for multiple values popup */
.chart__popup-list {
  display: flex;
  flex-flow: column nowrap;
  list-style-position: inside;
  list-style-type: disc;
}

/* Chart grid line */
.chart__grid-line {
  stroke-width: 1;
  fill: none;
  stroke: var(--chart-grid-color);
  stroke-dasharray: 4, 3;
}

/* Chart text */
.chart__text {
  font-family: "Segoe UI", sans-serif;
  font-size: var(--chart-text-size);
  text-anchor: "start";
}

/* Histogram bar item */
.histogram__bar {
  fill: var(--historgam-bar-color);
  fill-opacity: 1;
  stroke: none;
}

/* LineChart circle item */
.linechart__item {
  fill: var(--linechart-item-fill);
  stroke: var(--linechart-item-border);
  stroke-width: 1.5;
  display: none;
}

.linechart__nodes .linechart__item {
  display: block;
}

/* LineChart line path */
.linechart__path {
  stroke-width: 3;
  stroke: var(--linechart-line-color);
  stroke-linejoin: round;
  fill: none;
}

/* Active items */
.chart__item_active {
  &.histogram__bar {
    fill: var(--historgam-active-bar-color);
  }

  &.linechart__item {
    fill: var(--linechart-active-item-fill);
    stroke: var(--linechart-active-item-border);
    display: block;
  }
}

/* Animation */
.chart_animated {
  --chart-animation-duration: 0.5s;

  .histogram__bar {
    transition-property: y, height;
  }

  .linechart__item {
    transition-property: cy;
  }

  .linechart__path {
    transition-property: d;
  }

  .histogram__bar,
  .linechart__item,
  .linechart__path {
    transition-duration: var(--chart-animation-duration);
  }
}
