/* Main container for charts */
.charts {
  --chart-grid-color: #808080;
  --chart-text-size: 14px;
  --chart-animation-duration: 0.5s;

  /* Popup */
  --chart-popup-text: #000000;
  --chart-popup-border: #000000;
  --chart-popup-bg: #ffffff;

  display: flex;
  flex-flow: row nowrap;
  flex-basis: 100%;
}

.chart__container {
  flex-basis: 100%;
  overflow: hidden;
}

.chart__scroller {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

/* Main content SVG element */
.chart__content {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  overflow: hidden;
}

/* Bar chart information popup */
.chart__popup {
  position: absolute;
  color: var(--chart-popup-text);
  border: 1px solid var(--chart-popup-border);
  background-color: var(--chart-popup-bg);
  padding: 5px;
  white-space: nowrap;
}

/* List for multiple values popup */
.chart__popup-list {
  display: flex;
  flex-flow: column nowrap;
  list-style-position: inside;
  list-style-type: disc;
}

/* Chart grid line */
.chart__grid-line {
  stroke-width: 1;
  fill: none;
  stroke: var(--chart-grid-color);
  stroke-dasharray: 4, 3;
}

/* Chart text */
.chart__text {
  font-family: "Segoe UI", sans-serif;
  font-size: var(--chart-text-size);
  text-anchor: "start";
}
