<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Drop Down component</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">
            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>DropDown</h1>

                        <div class="content-container"></div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div hidden>
        <select id="sel0" value="0">
            <option value="1">Item 1</option>
            <option value="2">Long item test Lorem ipsum dolor sit amet</option>
            <option value="3">Item 3</option>
            <option value="4">Item 4</option>
            <option value="5">Item 5</option>
        </select>

        <select id="sel">
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3" selected>Item 3</option>
            <option value="4">Item 4</option>
            <option value="5">Item 5</option>
        </select>

        <select id="disabledopt">
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3" disabled>Item 3</option>
            <option value="4">Item 4</option>
            <option value="5" disabled>Item 5</option>
        </select>

        <select id="optgroupssel">
            <option value="1">Item 1</option>
            <optgroup>
                <option value="2">Item 2</option>
                <option value="3" disabled>Item 3</option>
            </optgroup>
            <option value="4">Item 4</option>
            <optgroup>
            </optgroup>
            <optgroup label="Correct">
                <option value="5" selected>Item 5</option>
                <option value="6">Item 6</option>
                <option value="7">Item 7</option>
            </optgroup>
            <option value="8">Item 8</option>
            <optgroup label="Empty">
            </optgroup>
            <option value="9">Item 9</option>
            <option value="10">Item 10</option>
            <option value="11">Item 11</option>
        </select>

        <select id="clipped">
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3">Item 3</option>
            <option value="4">Item 4</option>
            <option value="5">Item 5</option>
        </select>

        <select id="selinp5" multiple>
            <option value="1" selected>Item 1</option>
            <option value="2" selected>Item 2</option>
            <option value="3" selected>Item 3</option>
            <option value="4">Item 4</option>
            <option value="5">Item 5</option>
        </select>

        <select id="selinp7single" disabled>
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3" selected>Item 3</option>
            <option value="4">Item 4</option>
            <option value="5">Item 5</option>
        </select>

        <select id="selinp7" multiple disabled>
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3" selected>Item 3</option>
            <option value="4">Item 4</option>
            <option value="5">Item 5</option>
        </select>

        <select id="selinp10" multiple>
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3">Item 3</option>
            <option value="4" selected>Item 4</option>
            <option value="5" selected>Item 5</option>
            <option value="6">Item 6</option>
            <option value="7">Item 7</option>
            <option value="8">Item 8</option>
            <option value="9">Item 9</option>
            <option value="10">Item 10</option>
            <option value="11">Item 11</option>
        </select>

        <select id="selinp11single">
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3">Item 3</option>
            <option value="4">Item 4</option>
            <option value="5">Item 5</option>
        </select>

        <select id="selinp11" multiple>
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3">Item 3</option>
            <option value="4">Item 4</option>
            <option value="5">Item 5</option>
        </select>

        <select id="selinp12" multiple>
            <option value="1">Item 1</option>
            <option value="2">Item 2</option>
            <option value="3">Item 3</option>
            <option value="4">Item 4</option>
            <option value="5">Item 5</option>
            <option value="6">Item 6</option>
            <option value="7">Item 7</option>
            <option value="8">Item 8</option>
            <option value="9">Item 9</option>
            <option value="10">Item 10</option>
            <option value="11">Item 11</option>
            <option value="12">Item 12</option>
            <option value="13">Item 13</option>
            <option value="14">Item 14</option>
            <option value="15">Item 15</option>
        </select>

        <div id="popupContent" hidden>
            <div class="popup-scroll-container">
                <div id="topPlaceholder" class="popup-scroll-placeholder">Scroll</div>
                <div id="popupDropDownContainer"></div>
                <div id="bottomPlaceholder" class="popup-scroll-placeholder" hidden>Scroll</div>
            </div>
            <div id="popupControls" class="section-controls">
                <button class="btn action-btn" type="button" data-action="top">Top</button>
                <button class="btn action-btn" type="button" data-action="center">Center</button>
                <button class="btn action-btn" type="button" data-action="bottom">Bottom</button>
                <button id="scrollPopupMessageBtn" class="btn action-btn" type="button" data-action="scroll">Scroll only
                    content</button>
                <button id="popupSizeBtn" class="btn action-btn" type="button" data-action="size">Scroll inside
                    content</button>
                <button id="togglePlaceholderBtn" class="btn action-btn" type="button" data-action="placeholder">Show
                    bottom placeholder</button>
                <button class="btn action-btn" type="button" data-action="relparent">Change
                    relative
                    parent</button>
            </div>
        </div>
    </div>

    <svg width="0" height="0" display="none" xmlns="http://www.w3.org/2000/svg">
        <symbol id="plus" viewBox="0 0 24 24">
            <path d="m11 4v7h-7v2l7 1e-4v7h2v-7l7-1e-4v-2h-7v-7l-2-1e-5z" />
        </symbol>

        <symbol id="minus" viewBox="-0.5 -0.5 16.5 16.5">
            <path d="m13.5 7.5c.667 0 .667 1 0 1h-11c-.667 0-.667-1 0-1h11z" />
        </symbol>
    </svg>
</body>

</html>