/* Multiple selection container */
.dd__selection {
  display: flex;
  flex-flow: row wrap;
  padding: var(--dd-selection-items-gap);
  gap: var(--dd-selection-items-gap);
  font-weight: 400;
  font-size: 1rem;
  vertical-align: middle;
  background: var(--dd-multi-selection-bg);
}

/* Active container */
.dd__container_active .dd__selection {
  background-color: var(--dd-active-bg);
}

/* Disabled drop down */
.dd__container[disabled],
.dd__container_attached[disabled] {
  .dd__selection {
    background-color: var(--dd-disabled-bg);
  }
}
