/* List item */
.dd__list-item {
  padding: var(--dd-list-item-padding);
  font-size: var(--dd-list-item-font-size);
  text-align: left;
  border-width: 0;
  border-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: var(--dd-list-item-text);
  background-color: var(--dd-list-item-bg);

  .dd__check-icon {
    vertical-align: middle;
    display: inline-block;
    visibility: hidden;
    margin: 0 10px 0 0;
    fill: var(--dd-list-item-check);
  }

  &.dd__list-item_active {
    color: var(--dd-active-list-item-text);
    background-color: var(--dd-active-list-item-bg);

    .dd__check-icon {
      fill: var(--dd-active-list-item-check);
    }
  }

  &.dd__list-item_selected .dd__check-icon {
    visibility: visible;
  }
}

/* Disabled list item */
.dd__list li[disabled] {
  pointer-events: none;

  .dd__list-item {
    background-color: var(--dd-disabled-list-item-bg);
    color: var(--dd-disabled-list-item-text);
  }
}
