<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Popup component</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 4 20 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>Popup</h1>

                        <div class="toc-menu">
                            <label for="showTocCheck">Table of contents</label>
                            <input id="showTocCheck" class="toc-menu-check" type="checkbox">
                            <ul>
                                <li><a href="#fullwidth">Full width</a></li>
                                <li><a href="#close">Close button</a></li>
                                <li><a href="#center">Center</a></li>
                                <li><a href="#noDim">No dimming</a></li>
                                <li><a href="#draggable">Draggable</a></li>
                                <li><a href="#notification">Notification</a></li>
                                <li><a href="#template">Use template</a></li>
                                <li><a href="#nested">Nested popups</a></li>
                                <li><a href="#controls">Update controls</a></li>
                                <li><a href="#title">Update title</a></li>
                                <li><a href="#content">Update content</a></li>
                            </ul>
                        </div>

                        <div class="content-container">
                            <h2 id="fullwidth">Full width</h2>
                            <section>
                                <div class="section-controls">
                                    <input id="showFullWidthBtn" class="btn action-btn" type="button" value="Show">
                                </div>
                                <div class="logs-container">
                                    <label>Events log</label>
                                    <textarea id="result"></textarea>
                                </div>
                            </section>

                            <h2 id="close">Close button</h2>
                            <section>
                                <div class="section-controls">
                                    <input id="showCloseBtn" class="btn action-btn" type="button"
                                        value="Show popup scroll">
                                    <input id="showMsgScrollBtn" class="btn action-btn" type="button"
                                        value="Show popup message scroll">
                                </div>
                            </section>

                            <h2 id="center">Center only background</h2>
                            <section>
                                <div class="section-controls">
                                    <input id="showCenterOnlyBtn" class="btn action-btn" type="button" value="Show">
                                </div>
                            </section>

                            <h2 id="noDim">No dimming</h2>
                            <section>
                                <div class="section-controls">
                                    <input id="showNoDimBtn" class="btn action-btn" type="button" value="Show">
                                </div>
                            </section>

                            <h2 id="draggable">Draggable</h2>
                            <section class="row-section">
                                <div class="section-controls">
                                    <input id="showDraggableBtn" class="btn action-btn" type="button" value="Show">
                                </div>
                            </section>

                            <h2 id="notification">Notification</h2>
                            <section class="row-section">
                                <div class="section-controls">
                                    <input id="showNotifyBtn" class="btn action-btn" type="button" value="Show">
                                    <input id="showSuccessNotifyBtn" class="btn action-btn" type="button"
                                        value="Show success">
                                    <input id="showErrorNotifyBtn" class="btn action-btn" type="button"
                                        value="Show error">
                                </div>
                            </section>

                            <h2 id="template">Use template</h2>
                            <section class="row-section">
                                <div class="section-controls">
                                    <input id="showTplBtn" class="btn action-btn" type="button" value="Show">
                                </div>
                            </section>

                            <h2 id="nested">Nested popups</h2>
                            <section>
                                <div class="section-controls">
                                    <input id="showNestedBtn" class="btn action-btn" type="button" value="Show">
                                </div>
                            </section>

                            <h2 id="controls">Update controls</h2>
                            <section>
                                <div class="section-controls">
                                    <input id="showControlsUpdBtn" class="btn action-btn" type="button" value="Show">
                                </div>
                            </section>

                            <h2 id="title">Update title</h2>
                            <section>
                                <div class="section-controls">
                                    <input id="showTitleUpdBtn" class="btn action-btn" type="button" value="Show">
                                </div>
                            </section>

                            <h2 id="content">Update content</h2>
                            <section>
                                <div class="section-controls">
                                    <input id="showContentUpdBtn" class="btn action-btn" type="button" value="Show">
                                </div>
                            </section>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div id="formTemplate" hidden>
        <div><span>This popup is created from template. Controls and title are added.</span></div>
        <div>
            <label for="updname">New name</label>
            <div class="stretch_input"><input id="updname" name="name" type="text"></div>
        </div>
        <div>
            <label for="updpass">New password</label>
            <div class="stretch_input"><input id="updpass" name="pass" type="text"></div>
        </div>
    </div>

    <div id="nestedParentTemplate" hidden>
        <div><span>This popup will launch another popup.</span></div>
        <div><span id="valueresult"></span></div>
    </div>

    <div id="nestedChildTemplate" hidden>
        <div><span>This popup is also created from template and launched from another popup.</span></div>
        <div>
            <label for="valueselect">Values:</label>
            <div class="stretch_input">
                <select id="valueselect">
                    <option value="1">Value 1</option>
                    <option value="2">Value 2</option>
                    <option value="3">Value 3</option>
                    <option value="4">Value 4</option>
                    <option value="5">Value 5</option>
                </select>
            </div>
        </div>
    </div>
</body>

</html>