<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Popup component</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 4 20 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>Popup</h1>

                        <div class="content-container"></div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div id="formTemplate" hidden>
        <div><span>This popup is created from template. Controls and title are added.</span></div>
        <div>
            <label for="updname">New name</label>
            <div class="stretch_input"><input id="updname" name="name" type="text"></div>
        </div>
        <div>
            <label for="updpass">New password</label>
            <div class="stretch_input"><input id="updpass" name="pass" type="text"></div>
        </div>
    </div>

    <div id="nestedParentTemplate" hidden>
        <div><span>This popup will launch another popup.</span></div>
        <div><span id="valueresult"></span></div>
    </div>

    <div id="nestedChildTemplate" hidden>
        <div><span>This popup is also created from template and launched from another popup.</span></div>
        <div>
            <label for="valueselect">Values:</label>
            <div class="stretch_input">
                <select id="valueselect">
                    <option value="1">Value 1</option>
                    <option value="2">Value 2</option>
                    <option value="3">Value 3</option>
                    <option value="4">Value 4</option>
                    <option value="5">Value 5</option>
                </select>
            </div>
        </div>
    </div>
</body>

</html>