/* Input */
.dd__input {
  display: flex;
  flex: 1 1 auto;
  font-family: inherit;
  font-weight: var(--dd-input-font-weight);
  font-size: var(--dd-input-font-size);
  padding: var(--dd-input-padding);
  margin: 0;
  height: var(--dd-combo-content-height);
  line-height: var(--dd-combo-content-height);
  min-width: 50px;
  background: var(--dd-input-bg);
  color: var(--dd-input-text);
  appearance: none;

  &::placeholder {
    color: var(--dd-placeholder) !important;
    font-weight: var(--dd-input-font-weight) !important;
  }
}

/* Input inside menu container */
.dd__list .dd__input {
  flex: 0 0 auto;
}

/* Active component */
.dd__container_active .dd__input {
  color: var(--dd-active-input-text);
  background-color: var(--dd-active-input-bg);

  &::placeholder {
    color: var(--dd-active-placeholder) !important;
  }
}

/* Disabled component */
.dd__container[disabled],
.dd__container_attached[disabled] {
  .dd__input {
    background-color: var(--dd-disabled-input-bg);
    color: var(--dd-disabled-input-text);
    -webkit-text-fill-color: var(--dd-disabled-input-text);

    &::placeholder {
      color: var(--dd-disabled-input-text) !important;
      font-weight: var(--dd-input-font-weight) !important;
    }
  }
}
