/* Linechart */
.linechart {
  --linechart-item-fill: #ffffff;
  --linechart-item-border: #20a0ff;
  --linechart-line-color: #20a0ff;
  --linechart-active-item-fill: #00bfff;
  --linechart-active-item-border: #00bfff;
}
