.controls {
  display: flex;
  flex-flow: row nowrap;
}

/* Gray switch */
.switch.blue-switch {
  --switch-checked-bg: #006bcf;
  --switch-checked-hover-bg: #1788f1;
}

/* Large */
.switch.large-switch {
  --switch-width: 68px;
  --switch-height: 40px;
  --switch-slider-size: 32px;
  --switch-slider-top: 4px;
  --switch-slider-left: 4px;
  --switch-checked-slider-left: 32px;
}
