.controls {
  display: flex;
  flex-flow: row nowrap;
}

/* Gray switch */
.switch.blue-switch {
  --switch-checked-bg: #006bcf;
  --switch-checked-hover-bg: #1788f1;
}

/* Large */
.switch.large-switch {
  --switch-width: 68px;
  --switch-height: 40px;
  --switch-padding: 4px;
}
