<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Input group</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">
            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>InputGroup</h1>

                        <div class="content-container"></div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <div hidden>
        <div id="parseTarget" class="input-group">
            <input class="input input-group__input stretch-input amount-input" type="text">
            <button class="btn input-group__inner-btn" type="button">
                <svg class="btn__icon">
                    <use xlink:href="#close-icon"></use>
                </svg>
            </button>
            <button class="btn input-group__btn" type="button">
                <div class="input-group__btn-title">.00</div>
            </button>
        </div>
    </div>

    <svg width="0" height="0" display="none" xmlns="http://www.w3.org/2000/svg">
        <symbol id="search" viewBox="0 0 24 24">
            <path
                d="m9.01 3.8c-1.32 0-2.65.536-3.65 1.54-2.04 2.04-2.04 5.34 0 7.38 1.81 1.84 4.68 2.02 6.72.533l6.67 6.95 1.43-1.43-6.94-6.69c1.47-2.04 1.29-4.9-.547-6.73-1-1-2.36-1.54-3.69-1.54zm0 1.66c.931 0 1.81.359 2.49 1.04 1.43 1.43 1.43 3.62 0 5.01-1.4 1.4-3.58 1.4-5.01 0-1.4-1.4-1.4-3.58 0-5.01.716-.68 1.59-1.04 2.53-1.04z" />
        </symbol>

        <symbol id="close-icon" viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M 1.1415,2.4266 5.7838,7 1.1415,11.5356 2.4644,12.8585 7,8.2162 11.5734,12.8585 12.8585,11.5356 8.2162,7 12.8585,2.4266 11.5734,1.1415 7,5.7838 2.4644,1.1415 Z"
                stroke-linejoin="round" stroke-width=".2"></path>
        </symbol>
    </svg>
</body>

</html>