<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
<title>Jezve JS | Charts</title>
</head>
<body>
<div class="page">
	<div class="page-wrapper">

		<div class="nav-header">
            <button class="nav-toggle-btn">
                <svg class="nav-toggle-icon" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z"/>
                    <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z"/>
                    <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z"/>
                </svg>
            </button>

			<h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
		</div>

		<div class="page-container">
			<div class="page-content">
				<div class="page-content-wrap">

	<div class="results">
		<div class="controls">
			<input id="startbtn" class="btn" type="button" value="start">
			<table class="adm_tbl counter_tbl">
				<tr>
					<td class="title">Total</td><td id="totalRes"></td>
					<td class="title">Ok</td><td id="okRes"></td>
					<td class="title">Fail</td><td id="failRes"></td>
				</tr>
			</table>
		</div>
		<div class="tbl_container"><table><tbody id="restbl"></tbody></table></div>
	</div>
	<div class="ph"></div>
	<div id="testview" class="testview">
		<div id="topParent">
			<div class="container container__dashed">
				<span>Visible element</span>
				<div id="visibleElem" class="square square__green"></div>
			</div>

			<div class="container container__dashed">
				<span>Hidded element</span>
				<div id="hiddenElem1" class="square square__red" style="display: none;"></div>
			</div>

			<div id="container2" class="container container__dashed">
				<span>Element inside hierarchy of hidden parent</span>
				<div style="display: none;">
					<div>
						<div id="hiddenElem2" class="square square__red"></div>
					</div>
				</div>
			</div>
		</div>
        <div>Hover/out or click element below to test setup of event handlers</div>
        <div id="evResult"></div>
	</div>

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
