/* Range slider component */
.range-slider {
  /* Slider area */
  --rs-area-size: 1rem;
  --rs-max-length: 400px;
  --rs-area-border-style: none;
  --rs-area-border-width: 0;
  --rs-area-border-color: transparent;
  --rs-area-border-radius: 0;
  --rs-background: #d4d4d4;
  --rs-active-background: #d4d4d4;
  --rs-focus-background: #d4d4d4;

  /* Slider */
  --rs-slider-size: 1rem;
  --rs-slider-length: var(--rs-slider-size);
  --rs-slider-offset: calc((var(--rs-area-size) - var(--rs-slider-size)) / 2);
  --rs-slider-border-style: none;
  --rs-slider-border-width: 0;
  --rs-slider-border-color: transparent;
  --rs-slider-border-radius: 0;
  --rs-slider-background: #000000;

  /* Selected range */
  --rs-selected-background: #00ccbb;
  --rs-selected-opacity: 1;

  /* Before area */
  --rs-before-border-color: var(--rs-before-border-color);
  --rs-before-background: var(--rs-background);

  /* After area */
  --rs-after-border-color: var(--rs-after-border-color);
  --rs-after-background: var(--rs-background);

  /* Hover state */
  --rs-hover-background: #c1c1c1;
  --rs-hover-area-border-color: var(--rs-area-border-color);
  --rs-hover-slider-background: #509bc7;
  --rs-hover-slider-border-color: var(--rs-slider-border-color);
  --rs-hover-before-border-color: var(--rs-after-border-color);
  --rs-hover-before-background: var(--rs-before-background);
  --rs-hover-after-border-color: var(--rs-after-border-color);
  --rs-hover-after-background: var(--rs-after-background);

  /* Active state */
  --rs-active-slider-background: var(--rs-hover-slider-background);
  --rs-active-slider-border-color: var(--rs-hover-slider-border-color);

  /* Focused state */
  --rs-focus-slider-border-color: var(--rs-slider-border-color);
  --rs-focus-slider-background: var(--rs-slider-background);
  --rs-focus-slider-shadow: 0 0 0 0.25rem #0d6efd40;

  /* Disabled state */
  --rs-disabled-background: #8a8a8a;
  --rs-disabled-area-border-color: var(--rs-area-border-color);
  --rs-disabled-slider-background: #5c5c5c;
  --rs-disabled-slider-border-color: var(--rs-slider-border-color);
  --rs-disabled-before-border-color: var(--rs-disabled-area-border-color);
  --rs-disabled-before-background: var(--rs-disabled-background);
  --rs-disabled-after-border-color: var(--rs-disabled-area-border-color);
  --rs-disabled-after-background: var(--rs-disabled-background);

  position: relative;

  .range-slider__area {
    border-width: var(--rs-area-border-width);
    border-style: var(--rs-area-border-style);
    border-color: var(--rs-area-border-color);
    border-radius: var(--rs-area-border-radius);
    background: var(--rs-background);
    cursor: pointer;
  }

  .range-slider__selected-area {
    position: absolute;
    opacity: var(--rs-selected-opacity);
    background: var(--rs-selected-background);
    cursor: move;
  }

  .range-slider__before-area {
    position: absolute;
    box-sizing: content-box;
    border-color: var(--rs-before-border-color);
    background: var(--rs-before-background);
    cursor: pointer;
  }

  .range-slider__after-area {
    position: absolute;
    box-sizing: content-box;
    border-color: var(--rs-after-border-color);
    background: var(--rs-after-background);
    cursor: pointer;
  }

  .range-slider__slider {
    position: absolute;
    border-width: var(--rs-slider-border-width);
    border-style: var(--rs-slider-border-style);
    border-color: var(--rs-slider-border-color);
    border-radius: var(--rs-slider-border-radius);
    background: var(--rs-slider-background);
  }

  /* x axis */
  &.range-slider_x-axis {
    max-width: var(--rs-max-length);
    height: var(--rs-area-size);

    .range-slider__area {
      height: var(--rs-area-size);
      max-width: var(--rs-max-length);
    }

    .range-slider__selected-area,
    .range-slider__before-area,
    .range-slider__after-area {
      top: 0;
      height: 100%;
    }

    .range-slider__selected-area {
      margin-left: calc(var(--rs-slider-length) / 2);
    }

    .range-slider__before-area {
      left: 0;
      border-top-left-radius: var(--rs-area-border-radius);
      border-bottom-left-radius: var(--rs-area-border-radius);
      padding-left: calc(var(--rs-slider-length) / 2);
    }

    .range-slider__after-area {
      right: 0;
      border-top-right-radius: var(--rs-area-border-radius);
      border-bottom-right-radius: var(--rs-area-border-radius);
      padding-left: calc(var(--rs-slider-length) / 2);
    }

    .range-slider__slider {
      top: var(--rs-slider-offset);
      width: var(--rs-slider-length);
      height: var(--rs-slider-size);
      cursor: ew-resize;
    }
  }

  /* y axis */
  &.range-slider_y-axis {
    height: var(--rs-max-length);
    width: var(--rs-area-size);

    .range-slider__area {
      height: var(--rs-max-length);
      width: var(--rs-area-size);
    }

    .range-slider__selected-area,
    .range-slider__before-area,
    .range-slider__after-area {
      left: 0;
      width: 100%;
    }

    .range-slider__selected-area {
      margin-top: calc(var(--rs-slider-length) / 2);
    }

    .range-slider__before-area {
      top: 0;
      border-top-left-radius: var(--rs-area-border-radius);
      border-top-right-radius: var(--rs-area-border-radius);
      padding-top: calc(var(--rs-slider-length) / 2);
    }

    .range-slider__after-area {
      bottom: 0;
      border-bottom-left-radius: var(--rs-area-border-radius);
      border-bottom-right-radius: var(--rs-area-border-radius);
      padding-top: calc(var(--rs-slider-length) / 2);
    }

    .range-slider__slider {
      left: var(--rs-slider-offset);
      width: var(--rs-slider-size);
      height: var(--rs-slider-length);
      cursor: ns-resize;
    }
  }

  /* Active state */
  .range-slider__slider:active {
    border-color: var(--rs-active-slider-border-color);
    background: var(--rs-active-slider-background);
  }

  /* Focused state */
  .range-slider__slider:focus-visible {
    border-color: var(--rs-focus-slider-border-color);
    background: var(--rs-focus-slider-background);
    box-shadow: var(--rs-focus-slider-shadow);
  }
}

.range-slider[disabled] {
  pointer-events: none;

  .range-slider__area {
    border-color: var(--rs-disabled-area-border-color);
    background: var(--rs-disabled-background);
  }

  .range-slider__slider {
    border-color: var(--rs-disabled-slider-border-color);
    background: var(--rs-disabled-slider-background);
  }

  .range-slider__before-area {
    border-color: var(--rs-disabled-before-border-color);
    background: var(--rs-disabled-before-background);
  }

  .range-slider__after-area {
    border-color: var(--rs-disabled-after-border-color);
    background: var(--rs-disabled-after-background);
  }
}

@media (hover: hover) {
  .range-slider__area:hover {
    border-color: var(--rs-hover-area-border-color);
    background: var(--rs-hover-background);
  }

  .range-slider__slider:hover {
    border-color: var(--rs-hover-slider-border-color);
    background: var(--rs-hover-slider-background);
  }

  .range-slider__before-area:hover {
    border-color: var(--rs-hover-before-border-color);
    background: var(--rs-hover-before-background);
  }

  .range-slider__after-area:hover {
    border-color: var(--rs-hover-after-border-color);
    background: var(--rs-hover-after-background);
  }
}
