.excluded-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  color: #ffffff9e;
  background-color: #2a7200;
  font-size: 1.5rem;
}

.test-menu {
  position: absolute;
  display: none;
  flex-flow: column nowrap;
  margin: 0.5rem 0;
  min-width: 100px;
  list-style: none;
  border: 1px solid #000000;
  background-color: #ffffff;

  li {
    padding: 0.5rem;
    white-space: nowrap;
  }
}

.test-menu_open {
  display: flex;
}
