<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Empty click test</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">
            <div class="page-container">
                <div class="page-content">
                    <div class="page-content-wrap">
                        <h2>Empty click test</h2>

                        <div class="content-container">
                            <div id="status"></div>
                            <div id="except">Not here</div>

                            <div id="container">
                                <button id="openbtn" class="btn action-btn" type="button">Open</button>
                                <ul id="menu" class="test-menu">
                                    <li>Item 1</li>
                                    <li>Item 2</li>
                                    <li>Item 3</li>
                                    <li>Item 4</li>
                                    <li>Item 5</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>