input[type="text"] {
  border: 1px solid #000000;
  padding: 5px;
}

.dp-input-group {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: fit-content;

  .btn {
    margin: 0;
  }
}

.locales-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}
