<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Date input</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <a class="nav-header__logo" href="./index.html">JezveJS</a>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>DateInput</h1>

                        <div class="content-container"></div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>

</html>