.scrollable-container {
  overflow: auto;
}

.colors-container {
  display: flex;
  flex-flow: column nowrap;
}

.colors-row {
  display: flex;
  flex-flow: row nowrap;
}

.color-item {
  --color-item-size: 20px;
  --color-item-shadow-color: #00000000;
}
