/* Table of contents */
.toc-menu {
  --menu-item-active-background: none;
  --menu-item-text-color: #0072c6;
  --menu-item-active-text-color: #0072c6;
  --menu-item-size: 1.5rem;
  --menu-item-padding: 0.375rem 0;
  --menu-group-header-padding: 4px 0;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding: 0 0 1rem 0;
  margin-top: -1.75rem;
  position: relative;
  z-index: 1;
  width: 100%;

  label {
    height: 1.5rem;
    margin-left: auto;
    font-size: 1rem;
    text-decoration: underline;
    color: #0072c6;
  }

  > .menu-list {
    display: none;
    padding: 0 1rem;
  }

  .menu-list {
    width: auto;
  }

  .toc-menu-check {
    display: none;
  }

  .toc-menu-check:checked ~ .menu-list {
    display: block;
  }

  li {
    display: flex;
  }
}

@media (min-width: 992px) {
  .toc-menu {
    display: block;
    grid-column: 2;
    grid-row: span 2;
    padding: 0 1rem;
    margin: 0;

    label {
      font-size: 1.1rem;
      text-decoration: none;
      color: #000000;
    }

    > .menu-list {
      display: block;
    }
  }
}

@media (hover: hover) {
  .toc-menu {
    .link-menu-item:hover {
      text-decoration: underline;
    }
  }
}
