<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | LineChart</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 4 20 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <div class="page-content-wrap">
                        <h1>LineChart</h1>

                        <h2>Change 'columnWidth' and 'groupsGap'</h2>
                        <section>
                            <div id="linechart" class="std_chart_wrap"></div>
                            <div class="section-controls">
                                <span>columnWidth:</span>
                                <div>
                                    <input id="columnWidthRange" type="range" min="1" max="50" value="38">
                                    <span id="columnWidthValue">38</span>
                                </div>
                                <span>groupsGap:</span>
                                <div>
                                    <input id="groupsGapRange" type="range" min="1" max="50" value="10">
                                    <span id="groupsGapValue">10</span>
                                </div>
                            </div>
                        </section>

                        <h2>'fitToWidth' option</h2>
                        <section>
                            <div id="linechart_fittowidth" class="std_chart_wrap"></div>
                        </section>

                        <h2>'autoScale' and 'drawNodeCircles' options</h2>
                        <section>
                            <div id="linechart_autoscale" class="std_chart_wrap"></div>
                        </section>

                        <h2>Callbacks + 'animate' option</h2>
                        <section>
                            <div id="linechart_callbacks" class="std_chart_wrap"></div>
                            <div id="linechart_events"></div>
                        </section>

                        <h2>Multiple series + custom popup render + Legend</h2>
                        <section>
                            <div id="linechart_multiple" class="std_chart_wrap"></div>
                        </section>

                        <h2>Stacked + Custom legend</h2>
                        <section>
                            <div id="linechart_stacked" class="std_chart_wrap"></div>
                        </section>

                        <h2>Stacked with negative values + 'showPopupOnHover' and 'animatePopup' options</h2>
                        <section>
                            <div id="linechart-neg-stacked" class="std_chart_wrap"></div>
                        </section>

                        <h2>No data</h2>
                        <section>
                            <div id="linechart_no_data" class="std_chart_wrap"></div>
                        </section>

                        <h2>Single negative value</h2>
                        <section>
                            <div id="linechart_single_neg" class="std_chart_wrap"></div>
                        </section>

                        <h2>Only positive values</h2>
                        <section>
                            <div id="linechart_pos" class="std_chart_wrap"></div>
                        </section>

                        <h2>Only negative values</h2>
                        <section>
                            <div id="linechart_neg" class="std_chart_wrap"></div>
                        </section>

                        <h2>Negative and positive values</h2>
                        <section>
                            <div id="linechart_negpos" class="std_chart_wrap"></div>
                        </section>

                        <h2>Set new data</h2>
                        <section>
                            <div id="linechart_setdata" class="std_chart_wrap"></div>
                            <div class="section-controls">
                                <button id="setNoDataBtn" class="btn" type="button">No data</button>
                                <button id="setData1Btn" class="btn" type="button">Data set 1</button>
                                <button id="setData2Btn" class="btn" type="button">Data set 2</button>
                                <button id="setData3Btn" class="btn" type="button">Data set 3</button>
                                <button id="largeDataBtn" class="btn" type="button">Large data set</button>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>