@use "sass:list";

$colors: #20a0ff, #ff0077, #00d647, #e2de00;
$active-colors: #00bfff, #ff3392, #00ff55, #fcf93d;

.linechart {
  @for $i from 1 through length($colors) {
    --charts-color-#{$i}: #{list.nth($colors, $i)};
    --charts-active-color-#{$i}: #{list.nth($active-colors, $i)};
  }
}

section {
  max-width: 1000px;
}

@for $i from 1 through length($colors) {
  .linechart_category-#{$i} {
    --linechart-item-border: var(--charts-color-#{$i});
    --linechart-line-color: var(--charts-color-#{$i});
    --linechart-active-item-fill: var(--charts-active-color-#{$i});
    --linechart-active-item-border: var(--charts-active-color-#{$i});
  }
}

.custom-chart-popup__list {
  display: flex;
  flex-flow: column nowrap;
  list-style-position: inside;
  list-style-type: disc;
}

.custom-chart-popup__list li,
.chart__legend-list li {
  b,
  span {
    position: relative;
    left: -10px;
    color: #000000;
  }
}

@for $i from 1 through length($colors) {
  .custom-chart-popup__list .list-item_category-#{$i},
  .chart__legend-list .list-item_category-#{$i} {
    color: var(--charts-color-#{$i});
  }
}
