/* Chart y-axis labels */
.chart-y-axis-labels {
  --chart-y-axis-font-family: "Segoe UI", sans-serif;
  --chart-y-axis-font-size: var(--chart-text-size);
  --chart-y-axis-font-weight: 400;
  --chart-y-axis-text-color: var(--chart-text-color);
  --chart-y-axis-text-anchor: start;
}

/* Left position */
.chart-y-axis-labels_left {
  order: -1;
}

/* Content SVG element */
.chart-y-axis-labels__content {
  display: flex;
  height: 100%;
}

/* Labels text */
.chart__text.chart-y-axis-labels__label {
  font-family: var(--chart-y-axis-font-family);
  font-size: var(--chart-y-axis-font-size);
  font-weight: var(--chart-y-axis-font-weight);
  text-anchor: var(--chart-y-axis-text-anchor);
  fill: var(--chart-y-axis-text-color);
}
