.charts {
  --charts-color: #20a0ff;
  --charts-color-2: #ff0077;
  --charts-color-3: #00d647;

  /* Active chart item */
  --charts-active-color: #00bfff;
  --charts-active-color-2: #ff3392;
  --charts-active-color-3: #00ff55;
}

.page-content-wrap {
  display: flex;
  flex-flow: row wrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  max-width: 100%;
  box-sizing: border-box;
}

.histogram__bar--cat-1 {
  fill: var(--charts-color-2);
}

.histogram__bar--cat-2 {
  fill: var(--charts-color-3);
}

.linechart--cat-1 {
  stroke: var(--charts-color-2);
}

.linechart--cat-2 {
  stroke: var(--charts-color-3);
}

.chart__item_active {
  &.histogram__bar {
    fill: var(--charts-active-color);
  }

  &.histogram__bar--cat-1 {
    fill: var(--charts-active-color-2);
  }

  &.histogram__bar--cat-2 {
    fill: var(--charts-active-color-3);
  }

  &.linechart__item {
    fill: var(--charts-active-color);
  }

  &.linechart__item.linechart--cat-1 {
    fill: var(--charts-active-color-2);
  }

  &.linechart__item.linechart--cat-2 {
    fill: var(--charts-active-color-3);
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-items: normal;
}

.test-chart-container {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 30px;
  margin-right: 15px;
}

.test-chart__descr {
  background-color: #c2c2c2;
}

.test-chart-container .std_chart_wrap {
  width: 250px;
}
