<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Drag and Drop features</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 4 20 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>Drag'n'Drop</h1>

                        <div class="toc-menu">
                            <label for="showTocCheck">Table of contents</label>
                            <input id="showTocCheck" class="toc-menu-check" type="checkbox">
                            <ul>
                                <li><a href="#original">Drag original object</a></li>
                                <li><a href="#copy">Drag copy object</a></li>
                                <li><a href="#xAxis">Drag only by X axis</a></li>
                                <li><a href="#integer">Integer</a></li>
                                <li><a href="#sortable">Sortable implementation</a></li>
                                <li><a href="#sortableList">Sortable list</a></li>
                                <li><a href="#exchange">Exchangable list</a></li>
                                <li><a href="#tree">Tree sort</a></li>
                                <li><a href="#treeExchange">Tree exchange</a></li>
                                <li><a href="#table1">Sortable table with TBODY rows</a></li>
                                <li><a href="#table2">Sortable table with single TBODY</a></li>
                                <li><a href="#table3">Sortable table without TBODY</a></li>
                                <li><a href="#handle">Drag handle option</a></li>
                                <li><a href="#onlyRootHandle">onlyRootHandle option</a></li>
                                <li><a href="#listHandle">Sortable list with drag handle option</a></li>
                                <li><a href="#single">Sortable with single item</a></li>
                                <li><a href="#allowSingleItemSort">allowSingleItemSort option</a></li>
                            </ul>
                        </div>

                        <div class="content-container">
                            <h2 id="original">Drag original object. Drop target accept only OriginalDragAvatar</h2>
                            <section id="drop_area1" class="section-h200">
                                <div id="sq1" class="square abs_pos_square"></div>
                            </section>

                            <h2 id="copy">Drag two objects with semitransparent avatars. Drop targets accept only
                                DefaultDragAvatar
                            </h2>
                            <section class="row-section">
                                <div id="inner_drop1" class="inner-drop">
                                    <div id="sq2" class="square">1</div>
                                    <div id="sq3" class="square">2</div>
                                </div>
                                <div id="inner_drop2" class="inner-drop">
                                </div>
                            </section>

                            <h2 id="xAxis">Drag only by X axis</h2>
                            <section class="section-h200">
                                <div id="xAxisArea" class="x-axis-area">
                                    <div id="xAxisSlider" class="x-axis-slider"></div>
                                </div>
                            </section>

                            <h2 id="sortable">Sortable implementation</h2>
                            <section>
                                <div id="sortableContainer" class="sortable-tiles"></div>
                            </section>

                            <h2 id="sortableList">Sortable list</h2>
                            <section>
                                <div id="list_sortable" class="list-area"></div>
                                <div class="logs-container">
                                    <label>Events log</label>
                                    <textarea id="listSortLog"></textarea>
                                </div>
                            </section>

                            <h2 id="exchange">Exchangable list</h2>
                            <h3>Example of usage of same <i>group</i> identifier<br>
                                Left list uses default dragClass option <i>(.drag)</i>. Right list use own dragClass.
                            </h3>
                            <section>
                                <div class="exch-lists-container">
                                    <div id="list_exch_1" class="list-area"></div>
                                    <div id="list_exch_2" class="list-area"></div>
                                </div>
                                <div class="logs-container">
                                    <label>Events log</label>
                                    <textarea id="exchangeLog"></textarea>
                                </div>
                            </section>

                            <h2 id="tree">Tree sort</h2>
                            <section>
                                <div id="treeRoot" class="tree"></div>
                                <div class="logs-container">
                                    <label>Events log</label>
                                    <textarea id="treeLog"></textarea>
                                </div>
                            </section>

                            <h2 id="treeExchange">Tree exchange</h2>
                            <section>
                                <div class="exch-lists-container">
                                    <div id="treeExch1" class="tree"></div>
                                    <div id="treeExch2" class="tree"></div>
                                </div>
                                <div class="logs-container">
                                    <label>Events log</label>
                                    <textarea id="treeExchLog"></textarea>
                                </div>
                            </section>

                            <h2 id="table1">Sortable table with TBODY per each row</h2>
                            <section>
                                <table id="table_sortable" class="sortable_tbl"></table>
                                <div class="logs-container">
                                    <label>Events log</label>
                                    <textarea id="tableLog"></textarea>
                                </div>
                            </section>

                            <h2 id="table2">Sortable table with single TBODY for all rows</h2>
                            <section>
                                <table id="table_sortable_2" class="sortable_tbl"></table>
                            </section>

                            <h2 id="table3">Sortable table without TBODY</h2>
                            <section>
                                <table id="table_sortable_3" class="sortable_tbl"></table>
                            </section>

                            <h2 id="handle">Drag handle option</h2>
                            <section id="drop_area2" class="section-h200">
                                <div id="di1" class="drag_item">
                                    <input type="text">
                                </div>
                                <div id="di2" class="drag_item" style="top: 50px;">
                                    <input type="text">
                                    <div id="dh2_1" class="drag-handle"></div>
                                </div>
                                <div id="di3" class="drag_item" style="top: 100px;">
                                    <input type="text">
                                    <div id="dh3_1" class="drag-handle-btn">
                                        <svg class="drag-handle-btn__icon" xmlns="http://www.w3.org/2000/svg">
                                            <use href="#dragHandle">
                                        </svg>
                                    </div>
                                    <div id="dh3_2" class="drag-handle-btn">
                                        <svg class="drag-handle-btn__icon red" xmlns="http://www.w3.org/2000/svg">
                                            <use href="#dragHandle">
                                        </svg>
                                    </div>
                                </div>
                            </section>

                            <h2 id="onlyRootHandle">onlyRootHandle option</h2>
                            <section>
                                <div id="sortable_roothnd" class="list-area"></div>
                            </section>

                            <h2 id="listHandle">Sortable list with drag handle option</h2>
                            <section>
                                <div id="sortable_hnd" class="list-area"></div>
                            </section>

                            <h2 id="single">Sortable with single item</h2>
                            <section>
                                <div id="singleItemSortable" class="list-area">
                                    <div class="list_item"><span>Item 1</span></div>
                                </div>
                            </section>

                            <h2 id="allowSingleItemSort">allowSingleItemSort option</h2>
                            <section>
                                <div id="singleItemSortableAllow" class="list-area">
                                    <div class="list_item"><span>Item 1</span></div>
                                </div>
                            </section>

                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <svg width="0" height="0" display="none" xmlns="http://www.w3.org/2000/svg">
        <symbol id="dragHandle" viewBox="0 0 20 20">
            <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
            <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
            <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
        </symbol>

        <symbol id="tile-purse" viewBox="0 0 16 14">
            <path transform="matrix(.26667 0 0 .26667 0 -.2)"
                d="m42.609 20.994c-3.3638 0-6.2344 2.5285-6.2344 5.8574 0 3.3288 2.8706 6.1465 6.2344 6.1465h.11523 15.275v-12.004h-15.275-.11523zm-.13281 3.502c1.3964 0 2.5234 1.1251 2.5234 2.4766 0 1.3964-1.127 2.5234-2.5234 2.5234-1.3513 0-2.4766-1.127-2.4766-2.5234 0-1.3515 1.1253-2.4766 2.4766-2.4766z" />
            <path
                d="m.53333 1.9333v10.133h14.133l-2.7e-5-2.9333h-3.4248c-1.1893 0-2.1751-1.0089-2.1751-2.1728 0-1.1639.98584-2.0939 2.1751-2.0939h3.4249l2.7e-5-2.9333z" />
        </symbol>
    </svg>
</body>

</html>