.section-h200 {
  height: 200px;
}

.sortable-squares {
  display: flex;
  flex-flow: row wrap;
}

.inner-drop {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 16px 16px 0;
  background-color: #3388bb;
}

.square {
  width: 75px;
  height: 75px;
  background-color: #77bbff;
}

.abs_pos_square {
  position: absolute;
}

.semitransp {
  opacity: 0.5;
}

.sortable_item {
  margin: 0 10px 10px 0;
  padding: 10px;
}

.normal_item {
  width: 100px;
  height: 100px;
  background-color: #55dd99;
  position: relative;
  display: block !important;
  visibility: visible !important;
}

.normal_item > span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #ffffff;
}

.item_placeholder {
  width: 98px;
  height: 98px;
  border: 1px dashed #888888;
  background: none;
}

.item_placeholder * {
  visibility: hidden;
}

.list-area {
  display: inline-flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  max-width: 300px;
  width: 100%;
}

.exch-lists-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.output-area {
  display: flex;
  flex-flow: column nowrap;
  padding: 5px;
  border: 1px dashed #888888;
  margin-top: 1rem;
}

.list_item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100% !important;
  padding: 5px;
  background-color: #55dd99;
}

.list_item_2 {
  background-color: #dd5599;
}

.list_item > span {
  height: 24px;
  line-height: 24px;
  font-size: 18px;
  margin: 0 5px;
  color: #ffffff;
}

.list_item_placeholder {
  border: 1px dashed #ffffff;
  background: none;
}

.list_item_placeholder * {
  visibility: hidden;
}

.list_item.drag {
  opacity: 0.5;
}

.list_item_2.list_item_drag {
  background-color: #9955ee;
}

/* Sortable tree */
.tree {
  display: inline-flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  padding-bottom: 10px;
  max-width: 300px;
  width: 100%;
}

.tree-item {
  display: flex;
  flex-flow: column nowrap;
}

.tree-item:first-child {
  margin-top: 10px;
}

.tree-item__title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 5px;
  background-color: #55dd99;
  color: #ffffff;
  font-size: 18px;
}

.tree-item-2 > .tree-item__title {
  background-color: #dd5599;
}

.tree-item__content {
  display: inline-flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  max-width: 300px;
  width: 100%;
  padding: 0 0 0 1rem;
}

.tree-item__placeholder {
  outline-width: 3px;
  outline-style: dashed;
  outline-offset: -3px;
  outline-color: #143fff86;

  * {
    visibility: hidden;
  }
}

/* Sortable table */
.sortable_tbl td > div {
  color: #000000;
  background-color: #ffffff;
  padding: 10px;
  height: 40px;
  line-height: 20px;
}

.drag_item {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  position: absolute;
  top: 0;
  padding: 10px 30px 10px 10px;
  background-color: #77bbff;
}

.drag_item > input[type="text"],
.list_item input[type="text"] {
  height: 25px;
  border: 1px solid #000000;
}

.drag-handle {
  display: block;
  width: 28px;
  height: 28px;
  margin-right: 0.5rem;
  background-color: #00a354;
}

.drag-handle-btn {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin: 0 0.5rem;
}

.drag-handle-btn__icon {
  width: 20px;
  height: 20px;
  fill: #383838;
}

.red {
  fill: #ff2222;
}
