/* ListContainer placeholder component */
.list-placeholder {
  padding: 0.5rem;
  font-size: 0.9rem;
  line-height: 2rem;
  text-align: center;
  border-width: 0;
  border-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: auto;
  color: #303030;
  background-color: #d3d3d3;
}
