:root {
  /* Action button */
  --action-btn-border-radius: 6px;
  --action-btn-bg: #0072c6;
  --action-btn-hover-bg: #1e82cc;
  --action-btn-active-bg: #104b79;
}

/* Main layout */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border: 0 none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Main layout */
.page {
  display: table;
  border-collapse: collapse;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.page-wrapper {
  display: table-cell;
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: static;
}

/* Main content */
.page-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.page-content {
  display: table-cell;
  min-height: 100%;
  height: 100%;
}

.page-content-wrap {
  padding: 65px 12px 50px 12px;
}

.content-container {
  min-width: 1px;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: normal;
  padding: 0.5rem 0 0.25rem 0;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.1rem;
}

a,
a:visited {
  font-size: 1rem;
  text-decoration: none;
  color: #0072c6;
}

.action-btn,
.action-btn:visited {
  --btn-title-color: #ffffff;
  --btn-background: var(--action-btn-bg);
  --btn-hover-title-color: #ffffff;
  --btn-hover-background: var(--action-btn-hover-bg);
  --btn-border-radius: var(--action-btn-border-radius);
  --btn-active-background: var(--action-btn-active-bg);
  --btn-disabled-background: #5082aa;
  --btn-padding: 0 22px;

  margin-right: 15px;
}

.action-btn:focus {
  outline: 2px #aee5ff solid;
  outline-offset: 0.1rem;
}

/* Navigation */
.nav-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px;
  height: 50px;
  z-index: 2000;
  box-sizing: border-box;
  background-color: #404040;
  color: #dddddd;
}

.nav-header__logo {
  display: flex;
  padding: 0;

  > a {
    font-size: 1.1rem;
    color: #dddddd;
  }
}

.nav-header__version {
  font-size: 1rem;
  margin-left: 1rem;
}

/* Navigation toggle button */
.nav-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-right: 1rem;
  cursor: pointer;
  background: none;
  border: 0 none;
  border-radius: 100vh;
}

.nav-toggle-icon {
  width: 20px;
  height: 12px;
  fill: #dddddd;
}

.nav-menu-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}

.offcanvas__content .nav-menu-container {
  flex-flow: column nowrap;
  padding: 12px;
}

.nav-menu-section h2 {
  font-size: 16px;
  font-weight: 500;
  padding: 4px 0;
  color: #404040;
}

.nav-menu li {
  display: flex;
  list-style-type: none;

  .nav-menu-link,
  .nav-menu-link:visited {
    line-height: 1.5rem;
    padding: 0.375rem 0;
  }
}

/* Table of contents */
.toc-menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  padding: 0 0 1rem 0;
  margin-top: -1.75rem;

  label {
    height: 1.5rem;
    margin-left: auto;
    font-size: 1rem;
    text-decoration: underline;
    color: #0072c6;
  }

  .toc-menu-check {
    display: none;
  }

  ul {
    display: none;
    list-style: none;
    padding: 0 1rem;
  }

  .toc-menu-check:checked + ul {
    display: block;
  }

  .toc-list-section {
    font-size: 1rem;
    font-weight: 500;
    padding: 4px 0;
  }

  li {
    display: flex;
  }

  .toc-menu-link,
  .toc-menu-link:visited {
    line-height: 1.5rem;
    padding: 0.375rem 0;
  }
}

/* Section header */
.content-container h2 {
  padding-top: 50px;
  margin-top: -50px;
}

section {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  padding: 2rem 1rem;
  margin: 8px 0 16px 0;
  background-color: #f5f5f5;
}

.row-section {
  flex-flow: row nowrap;
}

.section-content {
  display: flex;
  flex-flow: column nowrap;
}

.section-controls {
  margin-top: 1rem;

  .btn {
    margin-bottom: 6px;
  }
}

/* Logs container */
.logs-container {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;

  textarea {
    padding: 4px;
    margin-top: 6px;
    min-height: 1rem;
    min-width: 300px;
    line-height: 1.5;
    overflow-y: auto;
    border: 1px solid #b4b4b4;
  }
}

/* Locales container */
.locales-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

/* Desktop */
@media (min-width: 576px) {
  .nav-menu-container {
    flex-flow: row wrap;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 4fr 1fr;
  }

  .toc-menu {
    display: block;
    grid-column: 2;
    grid-row: span 2;
    padding: 0 1rem;
    margin: 0;

    label {
      font-size: 1.1rem;
      text-decoration: none;
      color: #000000;
    }

    ul {
      display: block;
    }
  }
}

@media (hover: hover) {
  .nav-header__logo > a:hover {
    color: #ffffff;
  }

  .nav-menu-link:hover,
  .toc-menu-link:hover {
    text-decoration: underline;
    color: #0093ff;
  }
}
