/* Custom styles */
.center_only {
  .popup__content {
    background: none;
    padding: 10px;
  }

  .popup__content-box {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
}

/* Bordered popup */
.border_popup .popup__content-box {
  border: 1px solid #000000;
  background-color: #ddddff;
}

/* Draggable popup */
.draggable_popup {
  .popup__wrapper {
    position: relative;
  }

  .popup__content-box {
    position: absolute;
    border: 1px solid #000000;
    background-color: #eeffff;
  }
}

.popup__content-box.dragging {
  border: 1px solid #000000;
  background-color: #eeffff;
  max-width: 600px;
  min-width: 130px;
  padding: 15px 20px;
}

/* Message popups */
.popup.msg {
  --popup-close-btn: #ffffff;
  --popup-close-btn-hover: #c0c0c0;

  top: 70px;
  right: 12px;
  left: auto;
  bottom: auto;
  width: auto;
  height: auto;

  .popup__content {
    background: none;
    align-self: baseline;
  }

  .popup__content-box {
    padding: 0;
    max-width: 824px;
    width: 100%;
    background: none;
  }

  .popup__header {
    position: absolute;
    right: 8px;
    top: 17px;
    width: 18px;
    height: 18px;
    z-index: 3;
  }

  .popup__message {
    max-width: 400px;
    min-width: 200px;
    color: #ffffff;
    right: 0;
    padding: 15px 35px 15px 20px;
    box-sizing: border-box;
  }

  &.msg_success .popup__message {
    border-color: #20d040;
    background-color: #40d060;
  }

  &.msg_error .popup__message {
    border-color: #f02020;
    background-color: #f02020;
  }
}

.element-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 20px;
}

.element-title__btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-right: 8px;
  background: none;
}

/* Template */
.template-test__item {
  width: 50px;
  height: 50px;
  display: inline-block;
  background-color: #00ff00;
  border: 1px dashed #008800;
}

/* Controls */
.btn.submit-btn {
  margin-right: 10px;
}

.btn.cancel-btn {
  background-color: #888888;
}

.stretch_input {
  border: 1px solid #000000;
  padding: 3px;
  overflow: hidden;

  > input[type="text"],
  > input[type="password"],
  > select {
    width: 100%;
  }
}

.controls_test .btn.submit-btn,
.controls_test .btn.cancel-btn {
  background-color: #88bbff;
}

.controls_test .btn.submit-btn[disabled],
.controls_test .btn.cancel-btn[disabled] {
  background-color: #888888;
}
