.styled {
  --tab-hover-bg: #e8e8e8;
  --tab-active-color: #ffffff;
  --tab-active-bg: #cecece;
  --tab-selected-bg: #fbfbfb;
  --tab-content-background: #fbfbfb;
  --tab-border-color: transparent;
  --tab-selected-border-color: #999999;
  --tab-border-radius: 6px;
  --tab-border-width: 1px;
  --tab-padding: 0.5rem 1rem;

  .tab-list_header {
    border-bottom: var(--tab-border-width) solid
      var(--tab-selected-border-color);
  }

}

.styled b.link-menu-item_selected,
.styled[disabled] b.link-menu-item_selected {
  border-bottom: var(--tab-border-width) solid var(--tab-selected-bg);
  margin-bottom: calc(var(--tab-border-width) * -1);
}
