.styled {
  --tab-hover-bg: #e8e8e8;
  --tab-active-color: #ffffff;
  --tab-active-bg: #cecece;
  --tab-selected-bg: #fbfbfb;
  --tab-content-background: #fbfbfb;
  --tab-border-color: transparent;
  --tab-selected-border-color: #999999;
  --tab-border-radius: 6px;
  --tab-border-width: 1px;
  --tab-padding: 0.25rem 1rem;

  .tab-list_header {
    --menu-item-disabled-selected-border-color: var(
      --tab-selected-border-color
    );
    --menu-item-disabled-selected-background: var(--tab-selected-bg);

    width: 100%;
    border-bottom-width: var(--tab-border-width);
    border-bottom-style: solid;
    border-bottom-color: var(--tab-selected-border-color);
  }
}

.styled .tab-list_header .menu-item_selected,
.styled[disabled] .menu-item_selected {
  border-bottom: var(--tab-border-width) solid var(--tab-selected-bg);
  margin-bottom: calc(var(--tab-border-width) * -1);
}

.bold {
  --tab-font-weight: 600;
  --tab-selected-font-weight: bold;
}
