/* Group of text input and button */
.input-group {
  --ig-height: 2.3rem;
  --ig-border-width: 1px;
  --ig-border-radius: 5px;
  --ig-border-color: #ced4da;

  /* Input element */
  --ig-input-color: #000000;
  --ig-input-bg: #ffffff;

  /* Focused input */
  --ig-input-active-border: #49b3ff;

  /* Text elements */
  --ig-text-color: #2c2c2c;
  --ig-text-border: #ced4da;
  --ig-text-bg: #dfdfdf;

  /* Buttons */
  --ig-button-color: #ffffff;
  --ig-button-border: #0062a8;
  --ig-button-bg: #0072c6;

  /* Disabled buttons */
  --ig-button-disabled-color: #2c2c2c;
  --ig-button-disabled-border: #ced4da;
  --ig-button-disabled-bg: #dfdfdf;

  /* Inner buttons */
  --ig-inner-button-color: #888888;
  --ig-inner-button-active-color: #000000;

  /* Focused buttons */
  --ig-focus-shadow: #0d6efd40;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .input-group__input,
  .input-group__text,
  .input-group__btn,
  .input-group__inner-btn {
    box-sizing: border-box;
    margin: 0;
    height: var(--ig-height);
    border-radius: 0;
    border-style: solid;
    border-width: var(--ig-border-width) 0;
    border-color: var(--ig-border-color);
    z-index: 2;
  }

  /* Input element */
  .input-group__input {
    color: var(--ig-input-color);
    background-color: var(--ig-input-bg);
    padding: 0 0.5rem;
  }

  /* Input group text */
  .input-group__text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: var(--ig-height);
    margin: 0;
    padding: 0;
    color: var(--ig-text-color);
    border-color: var(--ig-text-border);
    background-color: var(--ig-text-bg);
  }

  /* Buttons common */
  .input-group__btn,
  .input-group__inner-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  /* Input group button */
  .input-group__btn,
  .input-group__btn:focus {
    min-width: var(--ig-height);
    margin: 0;
    padding: 0;
    color: var(--ig-button-color);
    border-color: var(--ig-button-border);
    background-color: var(--ig-button-bg);
    cursor: pointer;
  }

  /* Inner button */
  .input-group__inner-btn,
  .input-group__inner-btn:focus {
    padding: 0 0.25rem;
    background-color: var(--ig-input-bg);
    cursor: pointer;
  }

  .input-group__inner-btn__icon {
    width: 14px;
    height: 14px;
    fill: var(--ig-inner-button-color);
  }

  /* Borders of first element of groups */
  .input-group__input:first-child,
  .input-group__text:first-child,
  .input-group__btn:first-child,
  .input-group__inner-btn:first-child {
    border-left-width: var(--ig-border-width);
    border-bottom-left-radius: var(--ig-border-radius);
    border-top-left-radius: var(--ig-border-radius);
  }

  /* Borders of last element of groups */
  .input-group__input:last-child,
  .input-group__text:last-child,
  .input-group__btn:last-child,
  .input-group__inner-btn:last-child {
    border-right-width: var(--ig-border-width);
    border-bottom-right-radius: var(--ig-border-radius);
    border-top-right-radius: var(--ig-border-radius);
  }

  /* Focused input */
  .input-group__input:focus {
    border-color: var(--ig-input-active-border);
  }

  /* Focused buttons */
  .input-group__btn:focus,
  .input-group__inner-btn:focus {
    z-index: 3;
    box-shadow: 0 0 0 0.25rem var(--ig-focus-shadow);
  }

  .input-group__inner-btn:focus .input-group__inner-btn__icon {
    fill: var(--ig-inner-button-active-color);
  }

  /* Highlight border of inner buttons for focused input */
  .input-group__input:focus ~ .input-group__inner-btn {
    border-color: var(--ig-input-active-border);
  }

  /* Disabled buttons */
  .input-group__btn[disabled] {
    cursor: default;
    pointer-events: none;
    color: var(--ig-button-disabled-color);
    border-color: var(--ig-button-disabled-border);
    background-color: var(--ig-button-disabled-bg);
  }

  .input-group__inner-btn[disabled] {
    display: none;
  }

  /* Add border between two elements of same type */
  .input-group__text + .input-group__text,
  .input-group__btn + .input-group__btn {
    border-left-width: var(--ig-border-width);
  }

  /* Inner content of input group button */
  .input-group__btn-title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 2.3rem;
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
  }
}

@media (hover: hover) {
  .input-group__inner-btn:hover .input-group__inner-btn__icon {
    fill: var(--ig-inner-button-active-color);
  }
}
