.header-container {
  position: relative;
  border-width: 2px;
  border-style: dashed;
  border-color: #306da3db;
  height: 300px;
  container-type: inline-size;

  .header {
    position: absolute;

    .btn.menu-btn {
      --btn-border-radius: 100vh;
      --btn-padding: 4px;
      --btn-icon-color: #dddddd;
      --btn-active-background: #4e4e4e;
      --btn-hover-background: #646464;

      margin-left: auto;
      margin-right: 8px;
      width: var(--btn-size);
      flex: 0 0 auto;
    }
  }
}

@container (width < 400px) {
  .header-container {
    .header .nav-header__logo {
      display: none;
    }
  }
}
