.progress-bar {
  position: relative;
  width: 300px;
  height: 12px;
  overflow: hidden;
}

.progress-bar > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.progress-bar .progress-container {
  z-index: 9;
}

.progress-bar .progress-opacity {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 20%,
    rgba(255, 255, 255, 0) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  z-index: 10;
}

.progress-bar .progress-circle {
  position: absolute;
  top: 0;
  left: -8px;
  width: 8px;
  height: 12px;
  line-height: 12px;
  transform: none;
  transition-delay: 0;
}

.progress-bar .progress-circle::after {
  content: "\2022";
  font-size: 15px;
  color: #0078d7;
}

.progress-container.run .progress-circle {
  transition: transform 3s cubic-bezier(0.1, 0.85, 0.85, 0.1);
  transform: translateX(310px);
}

.progress-container.run .progress-circle:nth-child(2) {
  transition-delay: 0.2s;
}

.progress-container.run .progress-circle:nth-child(3) {
  transition-delay: 0.4s;
}

.progress-container.run .progress-circle:nth-child(4) {
  transition-delay: 0.6s;
}

.progress-container.run .progress-circle:nth-child(5) {
  transition-delay: 0.8s;
}
