.switch {
  --switch-width: 34px;
  --switch-height: 20px;
  --switch-slider-size: 16px;
  --switch-slider-top: 2px;
  --switch-slider-left: 2px;
  --switch-bg: #555555;
  --switch-hover-bg: #707070;
  --switch-slider-color: #f0f0f0;
  --switch-hover-slider: #ffffff;

  /* Checked state */
  --switch-checked-slider-left: 16px;
  --switch-checked-bg: #0d9c00;
  --switch-checked-hover-bg: #10c200;

  /* Focused state */
  --switch-focus-outline-color: #aee5ff;

  display: flex;
  position: relative;
  width: var(--switch-width);
  height: var(--switch-height);

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}

/* Slider container */
.switch-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--switch-bg);
  border-radius: 100vh;
  cursor: pointer;

  /* Sliding disc */
  &::before {
    content: "";
    top: var(--switch-slider-top);
    left: var(--switch-slider-left);
    transition: left 0.2s;
    position: absolute;
    width: var(--switch-slider-size);
    height: var(--switch-slider-size);
    background-color: var(--switch-slider-color);
    border-radius: 100vh;
  }
}

/* Focused state */
.switch input:focus-visible + .switch-slider {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--switch-focus-outline-color);
  outline-offset: 0.1rem;
}

/* Checked state */
.switch input:checked + .switch-slider {
  background-color: var(--switch-checked-bg);

  &::before {
    left: var(--switch-checked-slider-left);
  }
}

/* Disabled state */
.switch input[disabled] + .switch-slider {
  pointer-events: none;
  opacity: 0.8;
}

@media (hover: hover) {
  .switch-slider:hover {
    background-color: var(--switch-hover-bg);
  }

  .switch-slider:hover::before {
    background-color: var(--switch-hover-slider);
  }

  /* Checked state */
  .switch input:checked + .switch-slider:hover {
    background-color: var(--switch-checked-hover-bg);
  }
}
