:root {
  --popupmenu-border-width: 1px;
  --popupmenu-border-radius: 3px;
  --popupmenu-border-color: #888888;
  --popupmenu-separator-size: 1px;
  --popupmenu-separator-color: #888888;
  --popupmenu-background: #ffffff;
  --popupmenu-z-index: 2000;
  --popupmenu-title-color: #000000;
  --popupmenu-subtitle-color: #003cff;
  --popupmenu-icon-color: #000000;

  /* Item hover */
  --popupmenu-hover-background: #3078e2;
  --popupmenu-hover-title-color: #ffffff;
  --popupmenu-hover-subtitle-color: #cfdaff;
  --popupmenu-hover-icon-color: #ffffff;
}

/* Popup menu container with toggle button */
.popup-menu {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;

  /* Toggle show/hide menu button */
  .popup-menu-btn {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    padding: 0;
    background: none;
    cursor: pointer;
  }

  .popup-menu-btn__icon {
    width: 24px;
    height: 24px;
  }
}

.popup-menu-list {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  overflow-y: auto;
  border-width: var(--popupmenu-border-width);
  border-style: solid;
  border-color: var(--popupmenu-border-color);
  border-radius: var(--popupmenu-border-radius);
  z-index: var(--popupmenu-z-index);
  background: var(--popupmenu-background);

  &.popup-menu-list_fixed {
    position: fixed;
  }

  .popup-menu-list__separator {
    border: 0;
    border-bottom-width: var(--popupmenu-separator-size);
    border-bottom-style: solid;
    border-color: var(--popupmenu-separator-color);
    height: 0;
    padding: 0;
  }

  /* Menu item with icon */
  .btn.popup-menu__btn {
    --btn-background: none;
    --btn-title-color: var(--popupmenu-title-color);
    --btn-subtitle-color: var(--popupmenu-subtitle-color);
    --btn-hover-background: var(--popupmenu-hover-background);
    --btn-hover-icon-color: var(--popupmenu-hover-icon-color);
    --btn-hover-title-color: var(--popupmenu-hover-title-color);
    --btn-hover-subtitle-color: var(--popupmenu-hover-subtitle-color);

    height: auto;
    flex-shrink: 0;
    padding: 8px;
    width: 100%;

    .btn__content {
      padding: 0 10px 0 42px;
    }

    .btn__icon + .btn__content {
      padding: 0 10px;
    }
  }

  /* Menu item with checkbox */
  .action-checkbox {
    --checkbox-text: var(--popupmenu-title-color);

    display: flex;
    padding: 8px;
    margin: 0;
    flex-shrink: 0;
    cursor: pointer;

    .checkbox__check {
      margin: 6px;
    }

    .checkbox__label {
      padding: 0 10px;
      height: 32px;
      line-height: 32px;
    }
  }
}

@media (hover: hover) {
  .popup-menu-list {
    .action-checkbox:hover {
      --checkbox-text: var(--popupmenu-hover-title-color);

      background-color: var(--popupmenu-hover-background);
    }
  }
}
