.weekday-select.styled {
  --wds-item-size: 2rem;
  --link-menu-border-width: 1px;
  --link-menu-border-color: #ff3c00;
  --link-menu-color: #ff3c00;
  --link-menu-hover-color: #ffffff;
  --link-menu-hover-bg: #ff3c00;

  .link-menu-item,
  .link-menu-item:visited {
    justify-content: center;
    border-radius: 100vh;
    width: var(--wds-item-size);
    height: var(--wds-item-size);
    line-height: var(--wds-item-size);
  }

  .checkbox__check {
    display: none;
  }
}
