.buttons-list {
  display: flex;
  flex-flow: row wrap;
  gap: 12px;
}

.circle-icon {
  --btn-hover-icon-color: #ffffff;
  --btn-icon-size: 32px;

  .btn__icon {
    border: 2px solid #000000;
    border-radius: 50%;
    padding: 2px;
  }
}

.bg-btn {
  --btn-size: auto;
  --btn-title-color: #ffffff;
  --btn-icon-color: #ffffff;
  --btn-background: #0044ff;
  --btn-hover-title-color: #dddddd;
  --btn-hover-icon-color: #dddddd;
  --btn-hover-background: #2962ff;
  --btn-border-radius: 12px;
  --btn-padding: 6px 24px 6px 12px;
  --btn-content-padding: 0 0 0 12px;
}

.fullwidth-container {
  display: grid;
}

@media (hover: hover) {
  .circle-icon:hover .btn__icon {
    background-color: #000000;
  }
}
