.page {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 12px;
}

.page_wrapper {
  display: table;
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: relative;
  border-collapse: collapse;
}

/* Main content */
.container {
  display: table-cell;
  min-height: 100%;
}

.content {
  min-height: 100%;
  height: 100%;
}

h2 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  padding: 10px 0 5px 0;
}

.tests_content {
  height: 100%;
}

.results,
.testview,
.ph {
  display: inline-block;
  float: left;
  height: 100%;
}

.controls {
  padding: 10px 0;
}

.btn {
  padding: 3px 10px;
  background-color: #44aaff;
  color: #ffffff;
}

.tbl_container {
  max-height: 700px;
  overflow-y: auto;
}

.tbl_container table {
  border-collapse: collapse;
}

.tbl_container td {
  border: 1px solid #000000;
  padding: 5px;
}

/* Admin table */
.adm_tbl {
  border-collapse: collapse;
  border: 1px solid #000000;
}

.adm_tbl th,
.adm_tbl td {
  border: 1px solid #000000;
  padding: 5px;
}

.adm_tbl tr {
  cursor: pointer;
}

.adm_tbl tr:hover td {
  background-color: #bbbbbb;
}

.adm_tbl.counter_tbl {
  display: inline;
  border: 0 none;
}

.counter_tbl td.title {
  border-right: 0 none;
}

.counter_tbl td.title + td {
  border-left: 0 none;
}

.results {
  width: 40%;
}

.res-block-1 {
  background-color: #005588;
  color: #ffffff;
}

.res-block-2 {
  background-color: #0099bb;
}

.res-block-3 {
  background-color: #22ccff;
}

/* Test view */
.testview {
  width: 50%;
  max-height: 730px;
  overflow: hidden;
}
