input[type="text"] {
  border: 1px solid #000000;
  padding: 5px;
}

.calBtn {
  padding: 5px;
}

.locales-container {
    display: flex;
    flex-flow: row wrap;
}

.locales-item + .locales-item {
    margin-left: 2rem;
}
