.logs-container {
  display: inline-flex;
  padding: 4px;
  margin-top: 6px;
  min-height: 1rem;
  max-height: 100px;
  min-width: 300px;
  line-height: 1.5;
  overflow-y: auto;
  border: 1px solid #b4b4b4;
}

.controls {
  display: flex;
  flex-flow: row nowrap;
}

/* Gray switch */
.switch.gray-switch input:checked + .switch-slider {
  background-color: #797979;
}

.switch.gray-switch input:checked + .switch-slider:hover {
  background-color: #b3b3b3;
}

/* Large */
.switch.large-switch {
  width: 68px;
  height: 40px;
}

.large-switch .switch-slider::before {
  width: 32px;
  height: 32px;
  top: 4px;
}

.large-switch input:checked + .switch-slider::before {
  left: 34px;
}
