.offcanvas,
.offcanvas__bg {
  --offcanvas-bg: #ffffff;
  --offcanvas-z: 2000;
  --offcanvas-transition-duration: 0.25s;
}

.offcanvas {
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow-y: auto;
  z-index: var(--offcanvas-z);
  transition: transform var(--offcanvas-transition-duration) ease;
  background-color: var(--offcanvas-bg);
}

.offcanvas_right {
  left: auto;
  right: 0;
  top: 0;
  bottom: 0;
}

.offcanvas_top {
  left: 0;
  right: 0;
  top: 0;
  bottom: auto;
}

.offcanvas_bottom {
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
}

.offcanvas_closed {
  transform: translateX(-100%);
}

.offcanvas_right.offcanvas_closed {
  transform: translateX(100%);
}

.offcanvas_top.offcanvas_closed {
  transform: translateY(-100%);
}

.offcanvas_bottom.offcanvas_closed {
  transform: translateY(100%);
}

.offcanvas__bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: calc(var(--offcanvas-z) - 1);
  transition: opacity var(--offcanvas-transition-duration) ease;
}

.offcanvas__bg.closed {
  opacity: 0;
}
