.debug {
  display: flex;
  flex-flow: column nowrap;
  color: #ffffff;
  background-color: #0070ff;
  position: fixed;
  z-index: 100;
  width: 500px;
  height: 300px;
  padding: 10px;
  row-gap: 10px;

  &.left {
    left: 10px;
  }

  &.right {
    right: 10px;
  }

  &.top {
    top: 10px;
  }

  &.bottom {
    bottom: 10px;
  }

  .log {
    overflow-y: auto;
    width: 100%;
    flex: 1 1 auto;
  }

  .controls {
    display: flex;
    flex-flow: row nowrap;
    column-gap: 5px;
    width: 100%;
    flex: 0 0 auto;
  }

  .controls input[type="button"] {
    padding: 3px 5px;
  }
}
