<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Histogram</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 4 20 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <div class="page-content-wrap">
                        <h2>Histogram</h2>
                        <section>
                            <div id="chart" class="std_chart_wrap"></div>
                            <div class="section-controls">
                                <span>columnWidth:</span>
                                <div>
                                    <input id="columnWidthRange" type="range" min="1" max="50" value="38">
                                    <span id="columnWidthValue">38</span>
                                </div>
                                <span>groupsGap:</span>
                                <div>
                                    <input id="groupsGapRange" type="range" min="1" max="50" value="10">
                                    <span id="groupsGapValue">10</span>
                                </div>
                            </div>
                        </section>

                        <h2>Histogram fit bars to width</h2>
                        <section>
                            <div id="chart_fittowidth" class="std_chart_wrap"></div>
                        </section>

                        <h2>Histogram auto scale on + custom labels color</h2>
                        <section>
                            <div id="chart_autoscale" class="std_chart_wrap"></div>
                        </section>

                        <h2>Histogram callbacks + animation + showPopupOnClick + activateOnClick</h2>
                        <section>
                            <div id="chart_callbacks" class="std_chart_wrap"></div>
                            <div id="histogram_events"></div>
                        </section>

                        <h2>Multi column histogram + Legend + showPopupOnHover + activateOnHover</h2>
                        <section>
                            <div id="chart_multicolumn" class="std_chart_wrap"></div>
                        </section>

                        <h2>Stacked histogram + Custom legend</h2>
                        <section>
                            <div id="stacked-histogram" class="std_chart_wrap"></div>
                        </section>

                        <h2>Stacked with negative values</h2>
                        <section>
                            <div id="stacked-neg-histogram" class="std_chart_wrap"></div>
                        </section>

                        <h2>Stacked and grouped + animatePopup and pinPopupOnClick options</h2>
                        <section>
                            <div id="stacked-grouped-histogram" class="std_chart_wrap"></div>
                        </section>

                        <h2>Stacked and grouped with custom categories + showPopupOnHover, animatePopup and pinPopupOnClick options</h2>
                        <section>
                            <div id="stacked-categories-histogram" class="std_chart_wrap"></div>
                        </section>

                        <h2>No data test</h2>
                        <section>
                            <div id="chart_no_data" class="std_chart_wrap"></div>
                        </section>

                        <h2>Single negative value test</h2>
                        <section>
                            <div id="chart_single_neg" class="std_chart_wrap"></div>
                        </section>

                        <h2>Only positive values histogram test</h2>
                        <section>
                            <div id="chart_pos" class="std_chart_wrap"></div>
                        </section>

                        <h2>Only negative values histogram test</h2>
                        <section>
                            <div id="chart_neg" class="std_chart_wrap"></div>
                        </section>

                        <h2>Negative and positive values histogram test</h2>
                        <section>
                            <div id="chart_negpos" class="std_chart_wrap"></div>
                        </section>

                        <h2>Set new data</h2>
                        <section>
                            <div id="chart_setdata" class="std_chart_wrap"></div>
                            <div class="section-controls">
                                <button id="setNoDataBtn" class="btn" type="button">No data</button>
                                <button id="setData1Btn" class="btn" type="button">Data set 1</button>
                                <button id="setData2Btn" class="btn" type="button">Data set 2</button>
                                <button id="setData3Btn" class="btn" type="button">Data set 3</button>
                                <button id="largeDataBtn" class="btn" type="button">Large data set</button>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>