<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Histogram</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z"/>
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z"/>
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z"/>
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <div class="page-content-wrap">

                        <h2>Histogram</h2>
                        <section>
                            <div id="chart" class="std_chart_wrap"></div>
                        </section>

                        <h2>Histogram fit bars to width</h2>
                        <section>
                            <div id="chart_fittowidth" class="std_chart_wrap"></div>
                        </section>

                        <h2>Histogram auto scale on</h2>
                        <section>
                            <div id="chart_autoscale" class="std_chart_wrap"></div>
                        </section>

                        <h2>Histogram callbacks + animation</h2>
                        <section>
                            <div id="chart_callbacks" class="std_chart_wrap"></div>
                            <div id="histogram_events"></div>
                        </section>

                        <h2>Multi column histogram</h2>
                        <section>
                            <div id="chart_multicolumn" class="std_chart_wrap"></div>
                        </section>

                        <h2>Stacked histogram</h2>
                        <section>
                            <div id="stacked-histogram" class="std_chart_wrap"></div>
                        </section>

                        <h2>Stacked with negative values</h2>
                        <section>
                            <div id="stacked-neg-histogram" class="std_chart_wrap"></div>
                        </section>

                        <h2>Stacked and grouped</h2>
                        <section>
                            <div id="stacked-grouped-histogram" class="std_chart_wrap"></div>
                        </section>

                        <h2>No data test</h2>
                        <section>
                            <div id="chart_no_data" class="std_chart_wrap"></div>
                        </section>

                        <h2>Single negative value test</h2>
                        <section>
                            <div id="chart_single_neg" class="std_chart_wrap"></div>
                        </section>

                        <h2>Only positive values histogram test</h2>
                        <section>
                            <div id="chart_pos" class="std_chart_wrap"></div>
                        </section>

                        <h2>Only negative values histogram test</h2>
                        <section>
                            <div id="chart_neg" class="std_chart_wrap"></div>
                        </section>

                        <h2>Negative and positive values histogram test</h2>
                        <section>
                            <div id="chart_negpos" class="std_chart_wrap"></div>
                        </section>

                        <h2>Set new data</h2>
                        <section>
                            <div id="chart_setdata" class="std_chart_wrap"></div>
                            <div class="section-controls">
                                <button id="setData1Btn" class="btn" type="button">Data set 1</button>
                                <button id="setData2Btn" class="btn" type="button">Data set 2</button>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>