@use "sass:list";

$colors: #20a0ff, #ff0077, #00d647, #e2de00;
$active-colors: #00bfff, #ff3392, #00ff55, #fcf93d;

.charts {
  @for $i from 1 through length($colors) {
    --charts-color-#{$i}: #{list.nth($colors, $i)};
    --charts-active-color-#{$i}: #{list.nth($active-colors, $i)};
  }
}

section {
  max-width: 1000px;
}

@for $i from 1 through length($colors) {
  .histogram_category-#{$i} {
    --historgam-bar-color: var(--charts-color-#{$i});
    --historgam-active-bar-color: var(--charts-active-color-#{$i});
  }
}
