.progress-bar.pb-style {
  width: 600px;
}

.progress-bar.pb-style .progress-container.run .progress-circle {
  transition-duration: 5s;
  transform: translateX(610px);
}

.progress-bar.circles-style .progress-circle::after {
  content: "\25A0";
  font-size: 15px;
  color: #d73000;
}
