.block {
  display: block;
  width: 100px;
  height: 100px;
  background-color: #0065bd;
}

.nav-header__content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  width: 100%;
  overflow: hidden;
}

.nav-header__content .menu-btn {
  --btn-icon-color: #ffffff;
}

/* List element */
.list {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  overflow-y: auto;
  row-gap: 2px;
}

.list-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: #dddddd;

  .popup-menu .popup-menu-btn__icon {
    width: 18px;
    height: 18px;
  }
}
