/* LineChart line path */
.linechart__path {
  stroke-width: 3;
  stroke: var(--linechart-line-color);
  stroke-linejoin: round;
  fill: none;
}

.linechart__path.chart__item_active {
  stroke: var(--linechart-active-item-border);
}

/* Animation */
.chart_animated {
  .linechart__path {
    transition-duration: var(--chart-animation-duration);
  }
}
