@use "sass:list";

@use "../../assets/colors/colors";

.categories-chart-popup {
  display: flex;
  flex-flow: column nowrap;
}

.categories-chart-popup__list {
  display: flex;
  flex-flow: column nowrap;
  list-style-position: inside;
  list-style-type: disc;
}

.categories-chart-popup__list li {
  b,
  span {
    position: relative;
    left: -5px;
    color: #000000;
  }
}

@for $i from 1 through list.length(colors.$colors) {
  .categories-chart-popup__list .list-item_category-#{$i} {
    color: var(--charts-color-#{$i});
  }
}
