<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
<title>Jezve JS | Charts</title>
</head>
<body>
<div class="page">
	<div class="page-wrapper">

		<div class="nav-header">
			<h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
			<div class="nav-header__menu">
			</div>
		</div>

		<div class="page-container">
			<div class="page-content">
				<div class="page-content-wrap">

	<div class="column">
		<h2>Histogram</h2>
		<div id="chart" class="std_chart_wrap"></div>

		<h2>Histogram fit bars to width</h2>
		<div id="chart_fittowidth" class="std_chart_wrap"></div>

		<h2>Histogram auto scale on</h2>
		<div id="chart_autoscale" class="std_chart_wrap"></div>

		<h2>Histogram callbacks</h2>
		<div id="chart_callbacks" class="std_chart_wrap"></div>

		<h2>No data test</h2>
		<div id="chart_no_data" class="std_chart_wrap"></div>

		<h2>Single negative value test</h2>
		<div id="chart_single_neg" class="std_chart_wrap"></div>

		<h2>Only positive values histogram test</h2>
		<div id="chart_pos" class="std_chart_wrap"></div>

		<h2>Only negative values histogram test</h2>
		<div id="chart_neg" class="std_chart_wrap"></div>

		<h2>Negative and positive values histogram test</h2>
		<div id="chart_negpos" class="std_chart_wrap"></div>
	</div>

	<div class="column">
		<h2>Linechart</h2>
		<div id="linechart" class="std_chart_wrap"></div>

		<h2>Linechart fit to width</h2>
		<div id="linechart_fittowidth" class="std_chart_wrap"></div>

		<h2>Linechart auto scale on</h2>
		<div id="linechart_autoscale" class="std_chart_wrap"></div>

		<h2>Linechart callbacks</h2>
		<div id="linechart_callbacks" class="std_chart_wrap"></div>

		<h2>No data test</h2>
		<div id="linechart_no_data" class="std_chart_wrap"></div>

		<h2>Single negative value test</h2>
		<div id="linechart_single_neg" class="std_chart_wrap"></div>

		<h2>Only positive values linechart test</h2>
		<div id="linechart_pos" class="std_chart_wrap"></div>

		<h2>Only negative values linechart test</h2>
		<div id="linechart_neg" class="std_chart_wrap"></div>

		<h2>Negative and positive values linechart test</h2>
		<div id="linechart_negpos" class="std_chart_wrap"></div>
	</div>

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
