<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
<title>Jezve JS | Paginator</title>
</head>
<body>
<div class="page">
	<div class="page-wrapper">

		<div class="nav-header">
			<h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
			<div class="nav-header__menu">
			</div>
		</div>

		<div class="page-container">
			<div class="page-content">
				<div class="page-content-wrap">
<h1>Paginator</h1>

<h2>Simple paginator</h2>
<div id="simple"></div>

<h2>Styled paginator</h2>
<div id="styled"></div>

<h2>Allow active link</h2>
<div id="active-link"></div>

<h2>Custom URL and page parameter</h2>
<div id="custom-url"></div>

<h2>Disabled URL</h2>
<div id="no-url"></div>

<h2>Change handler</h2>
<div id="handler"></div>
<div id="handler-status"></div>

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
