<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
<title>Jezve JS | Switch</title>
</head>
<body>
<div class="page">
	<div class="page-wrapper">

		<div class="nav-header">
			<h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
			<div class="nav-header__menu">
			</div>
		</div>

		<div class="page-container">
			<div class="page-content">
				<div class="page-content-wrap">
                    <h1>Switch</h1>

                    <h2>Parse component from DOM</h2>
                    <div>
                        <label id="defaultSwitch" class="switch">
                            <input type="checkbox" checked>
                            <div class="switch-slider"></div>
                        </label>
                    </div>

                    <h2>Dynamically create component with className option</h2>
                    <div>
                        <div id="dynamicContainer"></div>
                        <label>Events log</label><br>
                        <textarea id="eventsLog" class="logs-container"></textarea>
                        <div class="controls">
                            <button id="checkBtn" class="btn" type="button">Check</button>
                            <button id="uncheckBtn" class="btn" type="button">Uncheck</button>
                            <button id="toggleBtn" class="btn" type="button">Toggle</button>
                            <button id="enableBtn" class="btn" type="button">Enable</button>
                            <button id="disableBtn" class="btn" type="button">Disable</button>
                        </div>
                    </div>

                    <h2>Large</h2>
                    <div id="largeContainer"></div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
