/* Menu group header */
.menu-group__header {
  color: var(--menu-group-header-text-color);
  background: var(--menu-group-header-background);
  border-color: var(--menu-group-header-border-color);
  border-style: var(--menu-group-header-border-style);
  border-width: var(--menu-group-header-border-width);
  font-size: var(--menu-group-header-font-size);
  font-weight: var(--menu-group-header-font-weight);
  line-height: var(--menu-group-header-line-height);
  padding: var(--menu-group-header-padding);
  text-transform: var(--menu-group-header-text-transform, uppercase);
}

/* Active state */
.menu-group__header:active {
  color: var(--menu-group-header-active-text-color);
  background: var(--menu-group-header-active-background);
  border-color: var(--menu-group-header-active-border-color);

  .menu-item__icon {
    fill: var(--menu-item-active-icon-color);
  }

  > .menu-checkbox {
    background: var(--menu-item-active-checkbox-background);

    .menu-checkbox__icon {
      display: block;
      fill: var(--menu-item-active-checkbox-icon-color);
    }
  }
}

/* Disabled state */
.menu-item[disabled],
.menu[disabled] {
  .menu-group__header {
    color: var(--menu-disabled-group-header-text-color);
    background: var(--menu-disabled-group-header-background);
  }
}
