.logo-container {
  margin-top: 12px;
}

.logo {
  width: 128px;
  height: 128px;
}

.main-menu li {
  margin-left: 16px;
  list-style-type: none;

  a,
  a:visited {
    text-decoration: none;
    font-size: 18px;
    color: #0072c6;
  }
}

@media (hover: hover) {
  .main-menu li a:hover {
    text-decoration: underline;
    color: #0093ff;
  }
}
