<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Date Picker component</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">
            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>DatePicker</h1>

                        <div class="content-container"></div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <svg width="0" height="0" display="none" xmlns="http://www.w3.org/2000/svg">
        <symbol id="calendar-icon" viewBox="0 0 24 24">
            <path d="m3.01 3.99v16h18v-16zm.992 2.02h16v13h-16z" />
            <path
                d="m8 7v2.02h2.02v-2.02h-2.02zm3.01 0v2.02h1.98v-2.02h-1.98zm2.98 0v2.02h2.02v-2.02h-2.02zm3.01.00977v2.01h2.02v-2.01h-2.02zm-12 3v1.98h2.02v-1.98h-2.02zm3.01 0v1.98h2.02v-1.98h-2.02zm3.01 0v1.98h1.98v-1.98h-1.98zm2.98 0v1.98h2.02v-1.98h-2.02zm3.01.00781v1.97h2.02v-1.97h-2.02zm-12 2.96v2.02h2.02v-2.02h-2.02zm3.01 0v2.02h2.02v-2.02h-2.02zm3.01 0v2.02h1.98v-2.02h-1.98zm2.98 0v2.02h2.02v-2.02h-2.02zm3.01.043v1.97h2.02v-1.97h-2.02zm-12 2.96v2.02h2.02v-2.02h-2.02zm3.01 0v2.02h2.02v-2.02h-2.02zm3.01 0v2.02h1.98v-2.02h-1.98zm2.98 0v2.02h2.02v-2.02h-2.02z" />
        </symbol>
    </svg>
</body>

</html>