<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Date Picker component</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 4 20 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <a class="nav-header__logo" href="./index.html">JezveJS</a>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>DatePicker</h1>

                        <div class="content-container"></div>
                    </main>
                </div>
            </div>
        </div>
    </div>

    <svg width="0" height="0" display="none" xmlns="http://www.w3.org/2000/svg">
        <symbol id="calendar-icon" viewBox="0 0 24 24">
            <g transform="translate(-3.9921 -4.0088)">
                <path d="m7 8v16h18v-16zm.99212 2.0177h16.016v12.991h-16.016z" />
                <rect x="8.9843" y="14.018" width="2.0197" height="1.9823" />
                <rect x="11.996" y="14.018" width="2.0197" height="1.9823" />
                <rect x="15.008" y="14.018" width="1.9842" height="1.9823" />
                <rect x="17.984" y="14.018" width="2.0197" height="1.9823" />
                <rect x="20.996" y="14.026" width="2.0197" height="1.9736" />
                <rect x="8.9843" y="16.991" width="2.0197" height="2.0177" />
                <rect x="11.996" y="16.991" width="2.0197" height="2.0177" />
                <rect x="15.008" y="16.991" width="1.9842" height="2.0177" />
                <rect x="17.984" y="16.991" width="2.0197" height="2.0177" />
                <rect x="20.996" y="17.035" width="2.0197" height="1.9736" />
                <rect x="8.9843" y="20" width="2.0197" height="2.0177" />
                <rect x="11.996" y="20" width="2.0197" height="2.0177" />
                <rect x="15.008" y="20" width="1.9842" height="2.0177" />
                <rect x="17.984" y="20" width="2.0197" height="2.0177" />
                <rect x="11.996" y="11.009" width="2.0197" height="2.0177" />
                <rect x="15.008" y="11.009" width="1.9842" height="2.0177" />
                <rect x="17.984" y="11.009" width="2.0197" height="2.0177" />
                <rect x="20.996" y="11.018" width="2.0197" height="2.009" />
            </g>
        </symbol>
    </svg>
</body>

</html>