<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
<title>Jezve JS | Date Picker component</title>
</head>
<body>
<div class="page">
	<div class="page-wrapper">

		<div class="nav-header">
            <button class="nav-toggle-btn">
                <svg class="nav-toggle-icon" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z"/>
                    <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z"/>
                    <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z"/>
                </svg>
            </button>

			<h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
		</div>

		<div class="page-container">
			<div class="page-content">
				<div class="page-content-wrap">

	<h2>Standard date picker control with animation</h2>
	<section>
		<input id="staticDateInp" type="text">
	</section>

	<h2>Drop down date picker control</h2>
	<section>
        <div id="dpPopupGroup" class="dp-input-group">
		    <input id="popupDateInp" type="text">
            <input id="showPopupBtn" class="btn" type="button" value="show">
        </div>
	</section>

	<h2>Position test</h2>
	<section>
        <div class="right-container">
            <input id="showPosBtn" class="btn" type="button" value="show">
        </div>
	</section>

	<h2>Range select</h2>
	<section>
        <div id="dpRangeGroup" class="dp-input-group">
		    <input id="rangeInp" type="text">
            <input id="showRangeBtn" class="btn" type="button" value="show">
        </div>
	</section>

	<h2>Callbacks</h2>
	<section>
		<div><span id="statustext">Waiting</span></div>
		<div id="dpCallbacksGroup" class="dp-input-group">
			<input id="cbInp" type="text">
            <input id="showCbBtn" class="btn" type="button" value="show">
		</div>
	</section>

	<h2>setSelection() method test</h2>
	<section>
        <div id="dpSelectionGroup" class="dp-input-group">
		    <input id="setSelInp" type="text">
            <input id="showSelBtn" class="btn" type="button" value="show calendar">
        </div>
        <div class="section-controls">
            <input id="select-btn" class="btn" type="button" value="Select">
            <input id="clear-btn" class="btn" type="button" value="Clear">
        </div>
	</section>

	<h2>Locale</h2>
    <section class="locales-container">
        <div class="locales-item">
            <h3>en-US</h3>
            <div id="dpEnLocale"></div>
        </div>
        <div class="locales-item">
            <h3>fr</h3>
            <div id="dpFrLocale"></div>
        </div>
        <div class="locales-item">
            <h3>ru</h3>
            <div id="dpRuLocale"></div>
        </div>
    </section>

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
