.btn.input-group__btn {
  --btn-icon-color: #ffffff;
  --btn-background: var(--action-btn-bg);
  --btn-hover-icon-color: #ffffff;
  --btn-hover-background: var(--action-btn-hover-bg);
}

.right-container {
  width: 5rem;
  margin-left: auto;
}
