/* Navigation menu container */
.nav-menu-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}

.nav-menu-section h2 {
  font-size: 16px;
  font-weight: 500;
  padding: 4px 0;
  color: #404040;
}

.nav-menu li {
  display: flex;
  list-style-type: none;

  .nav-menu-link,
  .nav-menu-link:visited {
    line-height: 1.5rem;
    padding: 0.375rem 0;
  }
}

/* Desktop */
@media (min-width: 576px) {
  .nav-menu-container {
    flex-flow: row wrap;
  }
}

@media (hover: hover) {
  .nav-menu-link:hover {
    text-decoration: underline;
    color: #0093ff;
  }
}
