/* Navigation menu container */
.nav-menu-container {
  --menu-item-active-background: none;
  --menu-item-text-color: #0072c6;
  --menu-item-active-text-color: #0072c6;
  --menu-item-size: 1.5rem;
  --menu-item-padding: 0.375rem 0;
  --menu-group-header-padding: 4px 0;
  --menu-group-header-text-color: #404040;

  > .menu-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
  }
}

/* Desktop */
@media (min-width: 576px) {
  .nav-menu-container > .menu-list {
    flex-flow: row wrap;
  }
}

@media (hover: hover) {
  .nav-menu-container .link-menu-item:hover {
    text-decoration: underline;
  }
}
