/* Circle */
.checkbox.checkbox-circle {
  --checkbox-border-radius: 100vh;
}

/* Large */
.checkbox.checkbox-large .checkbox__check {
  --checkbox-size: 28px;
  --checkbox-icon-size: 24px;
  --checkbox-bg: #97ff77;
}
