.logs-container {
  display: inline-flex;
  padding: 4px;
  margin-top: 6px;
  min-height: 1rem;
  max-height: 100px;
  min-width: 300px;
  line-height: 1.5;
  overflow-y: auto;
  border: 1px solid #b4b4b4;
}

.allwidth {
  width: 100%;
  padding: 10px 0;
}

.halfwidth {
  width: 50%;
}

.dd_stretch {
  width: 100%;
}

/* Custom group style */
.dd__styled-group {
  --dd-list-group-padding: 10px;
  --dd-list-group-text: #004fff;
  --dd-list-group-bg: #e1e1e1;
}

.bluebox {
  width: 100px;
  height: 100px;
  background-color: #20a0ff;
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  box-sizing: border-box;
}

.link_inline_cont {
  display: inline-block;
  cursor: pointer;

  .link_inline {
    color: #2020ff;
  }
}

.offset-parent {
  position: relative;
}

.clipper {
  height: 50px;
  overflow: hidden;
  background-color: #bbbbbb;
}

.inp {
  border: 1px solid #000000;
  padding: 5px;
}

/* Custom list item */
.dd__custom-list-item {
  display: flex;
  flex-flow: row nowrap;
}

.dd__custom-list-item_color {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}

.dd__custom-list-item_blue {
  background-color: #0081d6;
}

.dd__custom-list-item_red {
  background-color: #bd0000;
}

.dd__custom-list-item_green {
  background-color: #1dac00;
}

.dd__custom-list-item_yellow {
  background-color: #d6c100;
}

.dd__custom-list-item_pink {
  background-color: #ff006a;
}

.dd__custom-list-item_title {
  font-size: 1.25rem;
}

.dd__custom-list-item_check {
  display: none;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 30px;
}

.dd__list-item_selected .dd__custom-list-item_check {
  display: block;
}

/* Custom selected item */
.dd__custom-selection-item {
  background-color: #f3be78;
  border: 1px solid #eeb05e;
  border-radius: 5px;
}

.dd__container_disabled .dd__custom-selection-item {
  border-color: #c5c5c5;
}

.dd__container_enabled
  .dd__selection
  > .dd__custom-selection-item.dd__selection-item_active {
  background-color: #e6a34b;
  border-color: #e79f40;
}

.dd__custom-selection-item > .dd__del-selection-item-btn {
  color: #999999;
  padding: 0 3px 0 0;
  width: 24px;
  text-align: center;
}

.dd__container_enabled
  .dd__custom-selection-item
  > .dd__del-selection-item-btn::after {
  content: "\2014";
}

@media (hover: hover) {
  .link_inline_cont:hover .link_inline {
    text-decoration: underline;
  }

  .dd__container_enabled
    .dd__custom-selection-item
    > .dd__del-selection-item-btn:hover {
    color: #ffffff;
  }

  .dd__container_enabled .dd__custom-selection-item:hover {
    background-color: #e6a34b;
    border-color: #e79f40;
  }

  .dd__container_enabled
    .dd__custom-selection-item
    > .dd__del-selection-item-btn:hover::after {
    content: "|";
  }
}
