/* Checkbox menu group */
.checkbox-menu-group {
  cursor: pointer;

  .menu-group__header .menu-checkbox__icon {
    display: none;
  }

  /* Selected state */
  .menu-group__header.menu-item_selected .menu-checkbox__icon {
    display: block;
  }
}
