.charts {
  --charts-color: #20a0ff;
  --charts-color-2: #ff0077;
  --charts-color-3: #00d647;

  /* Active chart item */
  --charts-active-color: #00bfff;
  --charts-active-color-2: #ff3392;
  --charts-active-color-3: #00ff55;
}

section {
  max-width: 1000px;
}

.linechart__item {
  --linechart-item-border: var(--charts-color);
  --linechart-line-color: var(--charts-color);
  --linechart-active-item-fill: var(--charts-active-color);
  --linechart-active-item-border: var(--charts-active-color);
}

.linechart--cat-1 {
  --linechart-item-border: var(--charts-color-2);
  --linechart-line-color: var(--charts-color-2);
  --linechart-active-item-fill: var(--charts-active-color-2);
  --linechart-active-item-border: var(--charts-active-color-2);
}

.linechart--cat-2 {
  --linechart-item-border: var(--charts-color-3);
  --linechart-line-color: var(--charts-color-3);
  --linechart-active-item-fill: var(--charts-active-color-3);
  --linechart-active-item-border: var(--charts-active-color-3);
}

.custom-chart-popup__list {
  display: flex;
  flex-flow: column nowrap;
  list-style-position: inside;
  list-style-type: disc;
}

.custom-chart-popup__list li span {
  position: relative;
  left: -10px;
  color: #000000;
}

.custom-chart-popup__list li:nth-child(1) {
  color: var(--charts-color);
}

.custom-chart-popup__list li:nth-child(2) {
  color: var(--charts-color-2);
}

.custom-chart-popup__list li:nth-child(3) {
  color: var(--charts-color-3);
}
