.checkbox {
  padding: 2px;
  margin: 0 12px 0 0;
  white-space: nowrap;
  cursor: pointer;

  input {
    display: none;
  }
}

.checkbox__check {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #cccccc;
  padding: 2px;
  margin: 0 6px 0 0;

  svg {
    display: block;
    width: 14px;
    height: 14px;
    visibility: hidden;
  }
}

.checkbox input:checked + .checkbox__check svg {
  visibility: visible;
  fill: #5082aa;
}

.checkbox input:active + .checkbox__check {
  background-color: #1e82cc;

  svg {
    fill: #ffffff;
  }
}

.checkbox input[disabled] + .checkbox__check {
  background: #dddddd;
  opacity: 0.5;
}

.checkbox__label {
  font-size: 16px;
}

@media (hover: hover) {
  .checkbox__check:hover {
    background-color: #1e82cc;
  }

  .checkbox__check:hover svg {
    visibility: visible;
    fill: #ffffff;
  }

  .checkbox .checkbox__check:hover {
    background-color: #cccccc;
  }
}
