* {
  margin: 0;
  padding: 0;
  border: 0 none;
}

*,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* Hide clear button inside inputs */
::-ms-clear {
  display: none;
}

/* WebKit focus fix */
*:focus {
  outline: none;
}

/* iOS Safari input height fix */
input[type="text"],
input[type="password"],
input[type="number"] {
  overflow: hidden;
}

input[type="button"],
input[type="submit"],
button {
  overflow: visible; /* IE button padding fix */
  appearance: button; /* iOS Safari styling issue fix */
}

/* iOS safari fix for styling disabled inputs */
input[disabled],
textarea[disabled],
select[disabled="disabled"] {
  opacity: 1;
}

/* Firefox fix */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Hidden element */
[hidden] {
  display: none !important;
}
