/* Date picker view */
.dp__view {
  display: grid;
  position: relative;
  overflow: hidden;
}

/* Common class for all kind of cells */
.dp__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dp-text-color);
  border: 1px solid var(--dp-bg-color);
  background-color: var(--dp-bg-color);
}
