<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Slider component</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 4 20 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <div class="page-content-wrap">
                        <h1>Slider</h1>

                        <h2>Default settings</h2>
                        <section>
                            <div id="defaultSlider"></div>
                            <div class="section-controls">
                                <button id="slideToStartBtn" class="btn action-btn" type="button">Start</button>
                                <button id="slidePrevBtn" class="btn action-btn" type="button">Prev</button>
                                <button id="slideNextBtn" class="btn action-btn" type="button">Next</button>
                            </div>
                        </section>

                        <h2>Vertical</h2>
                        <section>
                            <div id="verticalSlider"></div>
                            <div class="section-controls">
                                <button id="vSlideToStartBtn" class="btn action-btn" type="button">Start</button>
                                <button id="vSlidePrevBtn" class="btn action-btn" type="button">Prev</button>
                                <button id="vSlideNextBtn" class="btn action-btn" type="button">Next</button>
                            </div>
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>