<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Slider component</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 4 20 12" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
                <div id="version" class="nav-header__version"></div>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <main class="page-content-wrap">
                        <h1>Slider</h1>

                        <div class="toc-menu">
                            <label for="showTocCheck">Table of contents</label>
                            <input id="showTocCheck" class="toc-menu-check" type="checkbox">
                            <ul>
                                <li><a href="#default">Default settings</a></li>
                                <li><a href="#placeholder">Vertical</a></li>
                                <li><a href="#allowMouse">Enabled 'allowMouse' option</a></li>
                                <li><a href="#allowTouch">Disabled 'allowTouch' option</a></li>
                            </ul>
                        </div>

                        <div class="content-container">
                            <h2 id="default">Default settings</h2>
                            <section>
                                <div id="defaultSlider"></div>
                                <div class="section-controls">
                                    <button id="slideToStartBtn" class="btn action-btn" type="button">Slide to
                                        start</button>
                                    <button id="slidePrevBtn" class="btn action-btn" type="button">Prev</button>
                                    <button id="slideNextBtn" class="btn action-btn" type="button">Next</button>
                                    <button id="switchToStartBtn" class="btn action-btn" type="button">Switch to
                                        start</button>
                                </div>
                                <div class="logs-container">
                                    <label>Events log</label>
                                    <textarea id="sliderLog"></textarea>
                                </div>
                            </section>

                            <h2 id="vertical">Vertical</h2>
                            <section>
                                <div id="verticalSlider"></div>
                                <div class="section-controls">
                                    <button id="vSlideToStartBtn" class="btn action-btn" type="button">Slide to
                                        start</button>
                                    <button id="vSlidePrevBtn" class="btn action-btn" type="button">Prev</button>
                                    <button id="vSlideNextBtn" class="btn action-btn" type="button">Next</button>
                                    <button id="vSwitchToStartBtn" class="btn action-btn" type="button">Switch to
                                        start</button>
                                </div>
                            </section>

                            <h2 id="allowMouse">Enabled 'allowMouse' option</h2>
                            <section>
                                <div id="mouseSlider"></div>
                            </section>

                            <h2 id="allowTouch">Disabled 'allowTouch' option</h2>
                            <section>
                                <div id="noTouchSlider"></div>
                                <div class="section-controls">
                                    <button id="noTouchPrevBtn" class="btn action-btn" type="button">Prev</button>
                                    <button id="noTouchNextBtn" class="btn action-btn" type="button">Next</button>
                                </div>
                            </section>

                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</body>

</html>