:root {
  --dd-bg-color: #ffffff;
  --dd-border-color: #dfdfdf;
  --dd-border-width: 1px;

  /* Combo */
  --dd-combo-border-radius: 3px;
  --dd-combo-height: 34px;
  --dd-combo-content-height: calc(
    var(--dd-combo-height) - var(--dd-border-width) * 2
  );

  /* Text input */
  --dd-input-text: #000000;
  --dd-input-bg: none;
  --dd-placeholder: #808080;
  --dd-input-padding: 0 5px 0 5px;
  --dd-input-font-size: 1rem;
  --dd-input-font-weight: 400;

  /* Single selection */
  --dd-selection-text: var(--dd-input-text);
  --dd-selection-bg: none;
  --dd-selection-padding: var(--dd-input-padding);
  --dd-selection-font-size: var(--dd-input-font-size);
  --dd-selection-font-weight: var(--dd-input-font-weight);

  /* Clear and toggle buttons */
  --dd-btn-fill: #888888;
  --dd-btn-hover-fill: #000000;
  --dd-btn-width: 32px;

  /* Multiple selection */
  --dd-multi-selection-bg: none;
  --dd-selection-items-gap: 2px;

  /* Multiple selection item */
  --dd-selection-item-padding: 0 6px 0 10px;
  --dd-selection-item-height: calc(
    var(--dd-combo-content-height) - var(--dd-selection-items-gap) * 2
  );
  --dd-selection-item-text: #ffffff;
  --dd-selection-item-bg: #20a0ff;
  --dd-selection-item-btn: #1e82cc;
  --dd-selection-item-border-radius: 3px;

  /* Active multiple selection item */
  --dd-selection-item-active-text: #ffffff;
  --dd-selection-item-active-bg: #1e82cc;
  --dd-selection-item-active-btn: #166096;

  /* Hover multiple selection item */
  --dd-selection-item-hover-text: var(--dd-selection-item-active-text);
  --dd-selection-item-hover-bg: var(--dd-selection-item-active-bg);
  --dd-selection-item-hover-btn: var(--dd-selection-item-active-btn);
  --dd-selection-item-btn-hover: #ffffff;

  /* List */
  --dd-max-list-height: 300px;
  --dd-list-z-index: 9999;
  --dd-list-border-radius: 5px;

  /* List item */
  --dd-list-item-text: #000000;
  --dd-list-item-bg: #ffffff;
  --dd-list-item-check: #000000;

  /* Active list item */
  --dd-active-list-item-text: #ffffff;
  --dd-active-list-item-bg: #3078e2;
  --dd-active-list-item-check: #ffffff;

  /* Disabled list item */
  --dd-disabled-list-item-text: #505050;
  --dd-disabled-list-item-bg: #bbbbbb;

  /* List group */
  --dd-list-group-padding: 0;
  --dd-list-group-text: #0072c6;
  --dd-list-group-bg: #f2f2f2;

  /* Not found message */
  --dd-not-found-text: #505050;

  /* Fullscreen mode */
  --dd-fullscreen-bg: #ffffff;
  --dd-fullscreen-z-index: 3000;

  /* Active component */
  --dd-active-border: #888888;
  --dd-active-bg: #ffffff;
  --dd-active-outline: #aee5ff;

  /* Active component: Text input */
  --dd-active-input-text: var(--dd-input-text);
  --dd-active-input-bg: var(--dd-input-bg);
  --dd-active-placeholder: var(--dd-placeholder);

  /* Active component: Single selection */
  --dd-active-selection-text: var(--dd-selection-text);
  --dd-active-selection-bg: var(--dd-active-bg);

  /* Active component: Multiple selection items */
  --dd-active-selection-item-text: var(--dd-selection-item-text);
  --dd-active-selection-item-bg: var(--dd-selection-item-bg);

  /* Disabled component */
  --dd-disabled-bg: #eeeeee;
  --dd-disabled-border: #eeeeee;
  --dd-disabled-btn-fill: #a0a0a0;

  /* Disabled component: Text input */
  --dd-disabled-input-text: #a0a0a0;
  --dd-disabled-input-bg: var(--dd-disabled-bg);

  /* Disabled component: Single selection */
  --dd-disabled-selection-color: #a0a0a0;
  --dd-disabled-selection-bg: var(--dd-disabled-bg);

  /* Disabled component: Multiple selection items */
  --dd-disabled-selection-item-text: #a0a0a0;
  --dd-disabled-selection-item-bg: #dfdfdf;
}

.dd__container,
.dd__container_attached {
  select {
    display: none;
  }
}

/* Container of drop down control */
.dd__container {
  display: inline-flex;
  align-self: baseline;
  position: static;
}

.dd__background {
  display: none;
}

/* Not found message */
.dd__not-found-message {
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  border-width: 0;
  border-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: var(--dd-not-found-text);
  background-color: var(--dd-list-item-bg);
}

/* useNative container */
.dd__container_native.dd__container_attached,
.dd__container_native.dd__container {
  position: relative;

  select {
    display: block;
    position: absolute;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
}

.dd__container.dd__container_native.dd__editable select {
  right: 0;
  width: var(--dd-btn-width);
}

/* Full screen drop down */
@media (max-width: 767px) {
  .dd__container.dd__fullscreen.dd__open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--dd-fullscreen-z-index);

    .dd__background {
      z-index: calc(var(--dd-fullscreen-z-index) + 100);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.9;
      background-color: var(--dd-fullscreen-bg);
    }

    .dd__combo {
      z-index: calc(var(--dd-fullscreen-z-index) + 200);
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      width: auto;
    }

    .dd__list {
      z-index: calc(var(--dd-fullscreen-z-index) + 201);
    }
  }
}

/* Attached drop down list */
.dd__container_attached {
  position: static;
  width: fit-content;

  &.dd__container_active {
    outline: 2px var(--dd-active-outline) solid;
    outline-offset: 0.1rem;
  }
}

/* Disabled component */
.dd__container[disabled],
.dd__container_attached[disabled] {
  pointer-events: none;
}

/* Hidden option wrapper for iOS */
.dd__opt-wrapper {
  display: none;
}

/* Don't use native select on large screens even useNativeSelect option is set */
@media (min-width: 768px) {
  .dd__container_native.dd__container_attached,
  .dd__container_native.dd__container {
    select {
      display: none;
    }
  }
}
