.dd__container,
.dd__container_attached {
  --dd-bg-color: #ffffff;
  --dd-border-color: #dfdfdf;
  --dd-border-width: 1px;

  /* Combo */
  --dd-combo-border-radius: 3px;
  --dd-combo-height: 34px;
  --dd-combo-content-height: calc(
    var(--dd-combo-height) - var(--dd-border-width) * 2
  );

  /* Text input */
  --dd-input-text: #000000;
  --dd-input-bg: var(--dd-bg-color);
  --dd-placeholder: #808080;
  --dd-input-padding: 0 5px 0 5px;
  --dd-input-font-size: 1rem;
  --dd-input-font-weight: 400;

  /* Single selection */
  --dd-selection-text: var(--dd-input-text);
  --dd-selection-bg: var(--dd-bg-color);
  --dd-selection-padding: var(--dd-input-padding);
  --dd-selection-font-size: var(--dd-input-font-size);
  --dd-selection-font-weight: var(--dd-input-font-weight);

  /* Clear and toggle buttons */
  --dd-btn-fill: #888888;
  --dd-btn-hover-fill: #000000;
  --dd-btn-width: 32px;

  /* Multiple selection */
  --dd-selection-items-gap: 2px;

  /* Multiple selection item */
  --dd-selection-item-height: calc(
    var(--dd-combo-content-height) - var(--dd-selection-items-gap) * 2
  );
  --dd-selection-item-text: #ffffff;
  --dd-selection-item-bg: #20a0ff;
  --dd-selection-item-btn: #1e82cc;
  --dd-selection-item-border-radius: 3px;

  /* Active multiple selection item */
  --dd-selection-item-active-text: #ffffff;
  --dd-selection-item-active-bg: #1e82cc;
  --dd-selection-item-active-btn: #166096;

  /* Hover multiple selection item */
  --dd-selection-item-hover-text: var(--dd-selection-item-active-text);
  --dd-selection-item-hover-bg: var(--dd-selection-item-active-bg);
  --dd-selection-item-hover-btn: var(--dd-selection-item-active-btn);
  --dd-selection-item-btn-hover: #ffffff;

  /* List */
  --dd-max-list-height: 300px;
  --dd-list-z-index: 9999;
  --dd-list-border-radius: 5px;

  /* List item */
  --dd-list-item-text: #000000;
  --dd-list-item-bg: #ffffff;
  --dd-list-item-check: #000000;

  /* Active list item */
  --dd-active-list-item-text: #ffffff;
  --dd-active-list-item-bg: #3078e2;
  --dd-active-list-item-check: #ffffff;

  /* Disabled list item */
  --dd-disabled-list-item-text: #505050;
  --dd-disabled-list-item-bg: #bbbbbb;

  /* List group */
  --dd-list-group-padding: 0;
  --dd-list-group-text: #0072c6;
  --dd-list-group-bg: #f2f2f2;

  /* Not found message */
  --dd-not-found-text: #505050;

  /* Fullscreen mode */
  --dd-fullscreen-bg: #ffffff;
  --dd-fullscreen-z-index: 3000;

  /* Active component */
  --dd-active-border: #888888;
  --dd-active-bg: #ffffff;
  --dd-active-outline: #aee5ff;

  /* Active component: Text input */
  --dd-active-input-text: var(--dd-input-text);
  --dd-active-input-bg: var(--dd-input-bg);
  --dd-active-placeholder: var(--dd-placeholder);

  /* Active component: Single selection */
  --dd-active-selection-text: var(--dd-selection-text);
  --dd-active-selection-bg: var(--dd-active-bg);

  /* Active component: Multiple selection items */
  --dd-active-selection-item-text: var(--dd-selection-item-text);
  --dd-active-selection-item-bg: var(--dd-selection-item-bg);

  /* Disabled component */
  --dd-disabled-bg: #eeeeee;
  --dd-disabled-border: #eeeeee;
  --dd-disabled-btn-fill: #a0a0a0;

  /* Disabled component: Text input */
  --dd-disabled-input-text: #a0a0a0;
  --dd-disabled-input-bg: var(--dd-disabled-bg);

  /* Disabled component: Single selection */
  --dd-disabled-selection-color: #a0a0a0;
  --dd-disabled-selection-bg: var(--dd-disabled-bg);

  /* Disabled component: Multiple selection items */
  --dd-disabled-selection-item-text: #a0a0a0;
  --dd-disabled-selection-item-bg: #dfdfdf;
}

/* Container of drop down control */
.dd__container {
  display: inline-flex;
  align-self: baseline;
  position: static;
}

.dd__background {
  display: none;
}

.dd__combo {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: stretch;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: var(--dd-combo-height);
  border-width: var(--dd-border-width);
  border-style: solid;
  border-color: var(--dd-border-color);
  border-radius: var(--dd-combo-border-radius);
  background-color: var(--dd-bg-color);
}

/* Current selection items */
.dd__selection {
  display: flex;
  flex-flow: row wrap;
  padding: var(--dd-selection-items-gap);
  gap: var(--dd-selection-items-gap);
  font-weight: 400;
  font-size: 1rem;
  vertical-align: middle;
  background-color: var(--dd-bg-color);
}

.dd__selection-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 6px 0 10px;
  height: var(--dd-selection-item-height);
  font-weight: normal;
  white-space: nowrap;
  background-color: var(--dd-selection-item-bg);
  color: var(--dd-selection-item-text);
  border-radius: var(--dd-selection-item-border-radius);
}

.close-btn.dd__del-selection-item-btn {
  --btn-size: 12px;
  --btn-icon-size: 12px;
  --btn-icon-color: var(--dd-selection-item-btn);
  --btn-hover-icon-color: var(--dd-selection-item-btn-hover);

  padding: 0 0 0 7px;
}

/* Single selection */
.dd__single-selection {
  display: flex;
  flex: 1 0 auto;
  font-weight: var(--dd-selection-font-weight);
  font-size: var(--dd-selection-font-size);
  padding: var(--dd-selection-padding);
  margin: 0;
  height: var(--dd-combo-content-height);
  min-height: var(--dd-combo-content-height);
  line-height: var(--dd-combo-content-height);
  align-items: center;
  background-color: var(--dd-selection-bg);
  color: var(--dd-selection-text);
  cursor: pointer;
  pointer-events: none;
}

.dd__single-selection_placeholder {
  color: var(--dd-placeholder);
}

/* Input */
.dd__input {
  display: flex;
  flex: 1 1 auto;
  font-family: inherit;
  font-weight: var(--dd-input-font-weight);
  font-size: var(--dd-input-font-size);
  padding: var(--dd-input-padding);
  margin: 0;
  height: var(--dd-combo-content-height);
  min-width: 50px;
  background-color: var(--dd-input-bg);
  color: var(--dd-input-text);

  &:placeholder {
    color: var(--dd-placeholder) !important;
    font-weight: var(--dd-input-font-weight) !important;
  }
}

.dd__list .dd__input {
  flex: 0 0 auto;
}

/* Controls */
.dd__combo-value {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  min-height: var(--dd-combo-content-height);
  flex: 1 1 auto;
  overflow: hidden;
  cursor: pointer;
}

/* Controls */
.dd__combo-controls {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  min-height: var(--dd-combo-content-height);
  flex: 0 0 auto;
}

/* Clear selection button */
.close-btn.dd__clear-btn {
  --btn-size: var(--dd-combo-content-height);
  --btn-icon-size: 14px;
  --btn-background: var(--dd-bg-color);
  --btn-icon-color: var(--dd-btn-fill);
  --btn-hover-icon-color: var(--dd-btn-hover-fill);

  width: var(--dd-btn-width);
  justify-content: center;
  z-index: 2;
}

/* Select Drop Down button */
.dd__toggle-btn {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: var(--dd-btn-width);
  height: var(--dd-combo-content-height);
  overflow: hidden;
  cursor: pointer;
  background-color: var(--dd-bg-color);

  .dd__toggle-icon {
    width: 16px;
    height: 16px;
    fill: var(--dd-btn-fill);
    fill-opacity: 1;
    stroke: none;
  }
}

/* Drop down list */
.dd__list {
  position: absolute;
  flex-flow: column nowrap;
  display: none;
  box-sizing: border-box;
  max-width: 100%;
  max-height: var(--dd-max-list-height);
  background-color: var(--dd-bg-color);
  border: var(--dd-border-width) solid var(--dd-border-color);
  border-radius: var(--dd-list-border-radius);
  z-index: var(--dd-list-z-index);
  overflow: hidden;

  ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-image: none;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--dd-list-item-bg);
  }
}

.dd__open .dd__list {
  display: flex;
}

/* List item */
.dd__list-item {
  padding: 10px;
  font-size: 1rem;
  text-align: left;
  border-width: 0;
  border-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: var(--dd-list-item-text);
  background-color: var(--dd-list-item-bg);

  .dd__check-icon {
    vertical-align: middle;
    display: inline-block;
    visibility: hidden;
    margin: 0 10px 0 0;
    fill: var(--dd-list-item-check);
  }

  &.dd__list-item_active {
    color: var(--dd-active-list-item-text);
    background-color: var(--dd-active-list-item-bg);

    .dd__check-icon {
      fill: var(--dd-active-list-item-check);
    }
  }

  &.dd__list-item_selected .dd__check-icon {
    visibility: visible;
  }
}

/* Disabled list item */
.dd__list li[disabled] {
  pointer-events: none;

  .dd__list-item {
    background-color: var(--dd-disabled-list-item-bg);
    color: var(--dd-disabled-list-item-text);
  }
}

/* List group */
.dd__list-group {
  display: flex;
  flex-flow: column nowrap;
  padding: 0;
  border-width: 0;
  border-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;

  .dd__list-group__label {
    box-sizing: border-box;
    width: 100%;
    padding: 6px 10px;
    margin: 0;
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--dd-list-group-text);
    background-color: var(--dd-list-group-bg);
  }

  ul {
    padding: 0 0 0 var(--dd-list-group-padding);
  }
}

/* Not found message */
.dd__not-found-message {
  padding: 10px;
  font-size: 1rem;
  text-align: center;
  border-width: 0;
  border-style: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: var(--dd-not-found-text);
  background-color: var(--dd-list-item-bg);
}

.dd__container_attached select,
.dd__container select {
  display: none;
}

/* useNative container */
.dd__container_native.dd__container_attached,
.dd__container_native.dd__container {
  position: relative;
}

.dd__container_native.dd__container_attached select,
.dd__container_native.dd__container select {
  display: block;
  position: absolute;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.dd__container.dd__container_native.dd__editable select {
  right: 0;
  width: 24px;
}

/* Full screen drop down */
@media (max-width: 767px) {
  .dd__container.dd__fullscreen.dd__open {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--dd-fullscreen-z-index);

    .dd__background {
      z-index: calc(var(--dd-fullscreen-z-index) + 100);
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.9;
      background-color: var(--dd-fullscreen-bg);
    }

    .dd__combo {
      z-index: calc(var(--dd-fullscreen-z-index) + 200);
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      width: auto;
    }

    .dd__list {
      z-index: calc(var(--dd-fullscreen-z-index) + 201);
    }
  }
}

/* Attached drop down list */
.dd__container_attached {
  position: static;
  width: fit-content;

  &.dd__container_active {
    outline: 2px var(--dd-active-outline) solid;
    outline-offset: 0.1rem;
  }

  .dd__list {
    border: var(--dd-border-width) solid var(--dd-border-color);
    border-radius: var(--dd-list-border-radius);
    width: auto;
    min-width: 130px;
    max-width: 250px;
  }
}

/* Active container */
.dd__container_active {
  .dd__combo,
  .dd__selection,
  .dd__clear-btn,
  .dd__toggle-btn {
    background-color: var(--dd-active-bg);
  }

  .dd__input {
    color: var(--dd-active-input-text);
    background-color: var(--dd-active-input-bg);

    &:placeholder {
      color: var(--dd-active-placeholder) !important;
    }
  }

  .dd__single-selection {
    color: var(--dd-active-selection-text);
    background-color: var(--dd-active-selection-bg);
  }

  .dd__single-selection_placeholder {
    color: var(--dd-active-placeholder);
  }

  .dd__selection-item {
    color: var(--dd-active-selection-item-text);
    background-color: var(--dd-active-selection-item-bg);
  }

  /* Active selection item */
  .dd__selection-item_active {
    color: var(--dd-selection-item-active-text);
    background-color: var(--dd-selection-item-active-bg);

    .close-btn.dd__del-selection-item-btn {
      --btn-icon-color: var(--dd-selection-item-active-btn);
    }
  }

  .dd__combo,
  .dd__list {
    border-color: var(--dd-active-border);
  }
}

/* Disabled drop down */
.dd__container[disabled],
.dd__container_attached[disabled] {
  pointer-events: none;

  .dd__combo {
    border-color: var(--dd-disabled-border);
    background-color: var(--dd-disabled-bg);
  }

  .dd__single-selection {
    color: var(--dd-disabled-selection-color);
    background-color: var(--dd-disabled-selection-bg);
    user-select: none;
  }

  .dd__input {
    background-color: var(--dd-disabled-input-bg);
    color: var(--dd-disabled-input-text);
    -webkit-text-fill-color: var(--dd-disabled-input-text);

    &:placeholder {
      color: var(--dd-disabled-input-text) !important;
      font-weight: var(--dd-input-font-weight) !important;
    }
  }

  .dd__toggle-btn {
    background-color: var(--dd-disabled-bg);
  }

  .dd__toggle-icon {
    fill: var(--dd-disabled-btn-fill);
  }

  .dd__clear-btn,
  .dd__del-selection-item-btn {
    display: none;
  }

  .dd__selection {
    background-color: var(--dd-disabled-bg);
  }

  .dd__selection-item {
    color: var(--dd-disabled-selection-item-text);
    background-color: var(--dd-disabled-selection-item-bg);
    user-select: none;
  }
}

/* Hidden option wrapper for iOS */
.dd__opt-wrapper {
  display: none;
}

/* Don't use native select on large screens even useNativeSelect option is set */
@media (min-width: 768px) {
  .dd__container_native.dd__container_attached select,
  .dd__container_native.dd__container select {
    display: none;
  }
}

@media (hover: hover) {
  .dd__toggle-btn:hover .dd__toggle-icon {
    fill: var(--dd-btn-hover-fill);
  }

  .dd__selection-item {
    &:hover {
      color: var(--dd-selection-item-hover-text);
      background-color: var(--dd-selection-item-hover-bg);

      .dd__del-selection-item-btn {
        --btn-icon-color: var(--dd-selection-item-hover-btn);
      }
    }
  }
}
