<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1,initial-scale=1,user-scalable=0">
    <title>Jezve JS | Decimal input</title>
</head>

<body>
    <div class="page">
        <div class="page-wrapper">

            <div class="nav-header">
                <button class="nav-toggle-btn">
                    <svg class="nav-toggle-icon" version="1.1" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="m2 4h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 9h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                        <path d="m2 14h16c.554 0 1 .446 1 1s-.446 1-1 1h-16c-.554 0-1-.446-1-1s.446-1 1-1z" />
                    </svg>
                </button>

                <h1 class="nav-header__logo"><a href="./index.html">JezveJS</a></h1>
            </div>

            <div class="page-container">
                <div class="page-content">
                    <div class="page-content-wrap">

                        <h2>Decimal input</h2>
                        <section>
                            <form id="decForm">
                                <input id="decInput" class="inp" name="decvalue" type="text">
                                <input type="submit" hidden value="Submit">
                            </form>
                            <div id="formStatus"></div>
                        </section>

                        <h2>Limit digits after decimal point to 3</h2>
                        <section>
                            <input id="decInputDigits" class="inp" type="text">
                        </section>

                        <h2>Limit digits after decimal point to 0</h2>
                        <section>
                            <input id="decInputInteger" class="inp" type="text">
                        </section>

                        <h2>Disable negative values</h2>
                        <section>
                            <input id="decInputPositive" class="inp" type="text">
                        </section>

                        <h2>Allow multiple leading zeros</h2>
                        <section>
                            <input id="decInputZeros" class="inp" type="text">
                        </section>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>