.link-menu {
  --menu-item-padding: 2px;
  --menu-column-gap: 12px;
  --menu-row-gap: 6px;
  --menu-item-gap: 6px;
  --menu-item-text-color: #0072c6;
  --menu-item-border-color: transparent;

  /* Icon */
  --menu-item-icon-size: 24px;

  /* Checkbox */
  --menu-checkbox-border-width: 1px;
  --menu-checkbox-background: #ffffff;
  --menu-checkbox-size: 20px;
  --menu-checkbox-icon-size: 20px;
  --menu-checkbox-border-color: #cccccc;
  --menu-checkbox-icon-color: #5082aa;

  /* Active item */
  --menu-item-active-text-color: #000000;
  --menu-item-active-icon-color: #0072c6;
  --menu-item-active-background: none;
  --menu-item-active-checkbox-icon-color: #ffffff;
  --menu-item-active-checkbox-background: #1e82cc;

  /* Hover item */
  --menu-item-hover-checkbox-background: #cccccc;

  /* Selected item */
  --menu-item-selected-font-weight: 600;
  --menu-item-selected-text-color: #000000;

  /* Disabled state */
  --menu-item-disabled-text-color: #7e7e7e;
  --menu-item-disabled-checkbox-icon-color: #808080;
  --menu-item-disabled-checkbox-border-color: #e2e2e2;
  --menu-item-disabled-checkbox-background: none;

  /* Focused state */
  --menu-item-focus-shadow: 0 0 0 0.25rem #0d6efd40;

  flex-flow: row wrap;

  .menu-list {
    flex-flow: row wrap;
  }

  /* Hover state */
  .menu-item_active
    > .menu-item__side-content
    > .menu-checkbox
    .menu-checkbox__icon {
    display: block;
  }

  /* Active state */
  .menu-item:active,
  .menu-item_active:active,
  .menu-item_selected:active {
    > .menu-item__side-content > .menu-checkbox {
      .menu-checkbox__icon {
        display: block;
      }
    }
  }

  /* Hover and selected state */
  .menu-item_active.menu-item_selected
    > .menu-item__side-content
    > .menu-checkbox {
    .menu-checkbox__icon {
      display: block;
      fill: var(--menu-item-selected-checkbox-icon-color);
    }
  }
}

/* Focused state */
.link-menu-item:focus-visible,
.link-menu-item__content:focus-visible {
  box-shadow: var(--menu-item-focus-shadow);
  z-index: 2;
}

/* Hover state */
@media (hover: hover) {
  .link-menu {
    .link-menu-item:hover,
    .checkbox-menu-item:hover,
    .button-menu-item:hover {
      > .menu-item__side-content > .menu-checkbox .menu-checkbox__icon {
        display: block;
      }
    }

    .menu-item_active.menu-item_selected:active:hover
      > .menu-item__side-content
      > .menu-checkbox {
      .menu-checkbox__icon {
        fill: var(--menu-item-active-checkbox-icon-color);
      }
    }
  }
}
