/* Menu container */
.menu {
  /* Items */
  --menu-item-padding: 0.5rem;
  --menu-item-text-color: #000000;
  --menu-item-font-size: 1rem;
  --menu-item-font-weight: 400;
  --menu-item-background: none;
  --menu-item-size: 2rem;

  /* Icons */
  --menu-item-icon-size: calc(1.275rem + 0.3vw);
  --menu-item-icon-color: #000000;

  /* Checkbox */
  --menu-checkbox-size: 2rem;
  --menu-checkbox-icon-size: 1.5rem;
  --menu-checkbox-icon-color: #000000;
  --menu-checkbox-border-radius: 0;
  --menu-checkbox-border-width: 0;
  --menu-checkbox-border-style: solid;
  --menu-checkbox-border-color: #000000;
  --menu-checkbox-background: none;

  /* Active item state */
  --menu-item-active-text-color: #ffffff;
  --menu-item-active-background: #3078e2;
  --menu-item-active-icon-color: #ffffff;
  --menu-item-active-checkbox-icon-color: #ffffff;

  /* Disabled item state */
  --menu-item-disabled-text-color: #808080;
  --menu-item-disabled-background: none;
  --menu-item-disabled-icon-color: #808080;
  --menu-item-disabled-checkbox-icon-color: #808080;
  --menu-item-disabled-checkbox-border-color: #808080;
  --menu-item-disabled-checkbox-background: none;
  --menu-disabled-group-header-text-color: #808080;
  --menu-disabled-group-header-background: none;

  /* Groups */
  --menu-group-padding: 0.5rem 0;
  --menu-group-margin: 0;

  /* Group header */
  --menu-group-header-text-color: #000000;
  --menu-group-header-background: none;
  --menu-group-header-font-size: 0.6875rem;
  --menu-group-header-font-weight: 700;
  --menu-group-header-padding: 0.5rem 0.5rem 0.25rem 0.5rem;
  --menu-group-header-text-transform: uppercase;

  /* Separator */
  --menu-separator-size: 1px;
  --menu-separator-color: #808080;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
}

@media (min-width: 768px) {
  .menu {
    --menu-item-icon-size: 1.5rem;
  }
}
