/* Selectable groups */
.checkbox-groups-menu {
  --menu-checkbox-size: 1.5rem;
  --menu-checkbox-icon-size: 1rem;
  --menu-checkbox-border-radius: 100vh;
  --menu-checkbox-background: #ffffff;
  --menu-checkbox-border-width: 1px;
  --menu-checkbox-border-color: #dbdbdb;
  --menu-checkbox-icon-color: #0072c6;

  /* Active item */
  --menu-item-active-checkbox-icon-color: #ffffff;
  --menu-item-active-checkbox-background: #1e82cc;

  /* Hover item */
  --menu-item-hover-checkbox-background: #cccccc;

  /* Hover selected checkbox */
  --menu-item-hover-selected-checkbox-icon-color: var(
    --menu-checkbox-icon-color
  );

  /* Selected item */
  --menu-item-selected-checkbox-icon-color: #5082aa;

  /* Disabled item */
  --menu-item-disabled-checkbox-icon-color: #808080;
  --menu-item-disabled-checkbox-border-color: #e2e2e2;
  --menu-item-disabled-checkbox-background: none;

  max-width: 300px;
  width: 100%;

  /* Hover state */
  .menu-item_active
    > .menu-item__side-content
    > .menu-checkbox
    .menu-checkbox__icon {
    display: block;
  }

  /* Active state */
  .menu-item:active,
  .menu-item_active:active,
  .menu-item_selected:active {
    > .menu-item__side-content > .menu-checkbox .menu-checkbox__icon {
      display: block;
    }
  }

  /* Hover and selected state */
  .menu-item_active.menu-item_selected
    > .menu-item__side-content
    > .menu-checkbox {
    .menu-checkbox__icon {
      display: block;
      fill: var(--menu-item-selected-checkbox-icon-color);
    }
  }
}

/* Hover state */
@media (hover: hover) {
  .checkbox-groups-menu {
    .menu-item_active.menu-item_selected:active:hover
      > .menu-item__side-content
      > .menu-checkbox {
      .menu-checkbox__icon {
        fill: var(--menu-item-active-checkbox-icon-color);
      }
    }
  }
}
