/* Menu container */
.menu.dd__list {
  --menu-border-color: var(--dd-border-color);
  --menu-border-width: var(--dd-border-width);
  --menu-border-style: solid;
  --menu-border-radius: var(--dd-list-border-radius);
  --menu-background: var(--dd-bg-color);

  /* Menu item */
  --menu-item-background: var(--dd-list-item-bg);

  position: absolute;
  flex-flow: column nowrap;
  display: none;
  box-sizing: border-box;
  max-width: 100%;
  max-height: var(--dd-max-list-height);
  z-index: var(--dd-list-z-index);
  overflow: hidden;

  .menu-list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style-image: none;
    list-style-type: none;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--dd-list-item-bg);
  }
}

/* Fixed menu */
.dd__list.dd__list_fixed {
  position: fixed;
}

/* Opened state */
.dd__open .dd__list,
.dd__list.dd__list_open {
  display: flex;
}

/* Active component */
.dd__container_active .dd__list,
.dd__list.dd__list_active {
  border-color: var(--dd-active-border);
}
