:root {
  --input-color: #000000;
  --input-bg: #ffffff;
  --input-padding: 0 0.5rem;
  --input-border-radius: 5px;
  --input-height: 2.3rem;
  --input-border-width: 1px;
  --input-border-color: #ced4da;

  /* Disabled input */
  --input-disabled-color: #a0a0a0;
  --input-disabled-bg: #eeeeee;
  --input-disabled-border: #ced4da;

  /* Focused input */
  --input-focus-bg: var(--input-bg);
  --input-focus-border: #49b3ff;

  /* Action button */
  --action-btn-border-radius: 6px;
  --action-btn-bg: #0072c6;
  --action-btn-hover-bg: #1e82cc;
}

/* Main layout */
html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  border: 0 none;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Main layout */
.page {
  display: table;
  border-collapse: collapse;
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.page-wrapper {
  display: table-cell;
  width: 100%;
  min-height: 100%;
  height: 100%;
  position: static;
}

/* Main content */
.page-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.page-content {
  display: table-cell;
  min-height: 100%;
  height: 100%;
}

.page-content-wrap {
  padding: 65px 12px 50px 12px;
}

.content-container {
  min-width: 1px;
}

/* Typography */
h1,
h2,
h3 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: normal;
  padding: 10px 0 5px 0;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

a,
a:visited {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 4px 0;
  text-decoration: none;
  color: #0072c6;
}

.action-btn,
.action-btn:visited {
  --btn-background: var(--action-btn-bg);
  --btn-hover-background: var(--action-btn-hover-bg);

  font-weight: normal;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  width: fit-content;
  padding: 4px 22px;
  margin-right: 15px;
  overflow: visible;
  border-radius: var(--action-btn-border-radius);
}

.action-btn:focus {
  outline: 2px #aee5ff solid;
  outline-offset: 0.1rem;
}

.action-btn[disabled] {
  background-color: #5082aa;
  opacity: 0.3;
}

.input {
  flex: 1 1 auto;
  height: var(--input-height);
  padding: var(--input-padding);
  color: var(--input-color);
  background-color: var(--input-bg);
  border-radius: var(--input-border-radius);
  border-style: solid;
  border-width: var(--input-border-width);
  border-color: var(--input-border-color);
}

.input[disabled] {
  color: var(--input-disabled-color);
  background-color: var(--input-disabled-bg);
  border-color: var(--input-disabled-border-color);
}

.input:focus {
  background-color: var(--input-focus-bg);
  border-color: var(--input-focus-border);
}

/* Navigation */
.nav-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px;
  z-index: 2000;
  box-sizing: border-box;
  background-color: #404040;
  color: #dddddd;
}

.nav-header__logo {
  padding: 0;

  > a {
    color: #dddddd;
  }
}

.nav-header__version {
  font-size: 1rem;
  margin-left: 1rem;
}

/* Navigation toggle button */
.nav-toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-right: 1rem;
  cursor: pointer;
  background: none;
  border: 0 none;
  border-radius: 100vh;
}

.nav-toggle-icon {
  width: 20px;
  height: 12px;
  fill: #dddddd;
}

.nav-menu-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}

.offcanvas__content .nav-menu-container {
  flex-flow: column nowrap;
  padding: 12px;
}

.nav-menu-section h2 {
  font-size: 16px;
  font-weight: 500;
  padding: 4px 0;
  color: #404040;
}

.nav-menu li {
  display: flex;
  list-style-type: none;
}

/* Table of contents */
.toc-menu {
  padding: 0 0 1rem 0;

  label {
    font-size: 1rem;
    text-decoration: underline;
    color: #0072c6;
  }

  .toc-menu-check {
    display: none;
  }

  ul {
    display: none;
    list-style: none;
    padding: 0 1rem;
  }

  .toc-menu-check:checked + ul {
    display: block;
  }

  .toc-list-section {
    font-size: 1rem;
    font-weight: 500;
    padding: 4px 0;
  }

  li {
    margin: 0.5rem 0;
  }
}

/* Admin action button */
.adm_act_btn {
  padding: 3px 10px;
  background-color: #44aaff;
  color: #ffffff;
}

.adm_act_btn:disabled {
  background-color: #708290;
}

section {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  padding: 2rem 1rem;
  margin: 8px 0 16px 0;
  background-color: #f5f5f5;
}

.row-section {
  flex-flow: row nowrap;
}

.section-controls {
  margin-top: 1rem;

  .btn {
    margin-bottom: 6px;
  }
}

/* Logs container */
.logs-container {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1rem;

  textarea {
    padding: 4px;
    margin-top: 6px;
    min-height: 1rem;
    max-height: 100px;
    min-width: 300px;
    line-height: 1.5;
    overflow-y: auto;
    border: 1px solid #b4b4b4;
  }
}

/* Locales container */
.locales-container {
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
}

@media (hover: hover) {
  .nav-header__logo > a:hover {
    color: #ffffff;
  }

  .nav-menu li a:hover {
    text-decoration: underline;
    color: #0093ff;
  }
}

/* Desktop */
@media (min-width: 576px) {
  .nav-menu-container {
    flex-flow: row wrap;
  }
}

@media (min-width: 992px) {
  main {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 4fr 1fr;
  }

  .toc-menu {
    grid-column: 2;
    grid-row: span 2;
    padding: 0 1rem;

    label {
      font-size: 1.1rem;
      text-decoration: none;
      color: #000000;
    }

    ul {
      display: block;
    }
  }
}

@media (hover: hover) {
  .submit-btn:hover {
    background-color: var(--action-btn-hover-bg);
  }
}
