.range-scroll-chart {
  --rschart-outside-areas-background: #88888888;
  --rschart-slider-size: 2rem;
  --rschart-slider-length: 1rem;
  --rschart-slider-background: #000000;
  --rschart-slider-border-width: 0;
  --rschart-slider-border-style: none;
  --rschart-slider-border-color: #000000;

  display: flex;
  flex-flow: column nowrap;

  .chart__scroller {
    overflow-x: scroll;
  }

  .range-scroll-chart__slider-container {
    --rs-max-length: 100%;

    position: relative;
  }
}

/* Navigation chart */
.chart.range-scroll-chart__nav-chart {
  .chart__container {
    position: relative;
  }

  .chart__scroller {
    overflow-x: hidden;
  }
}

/* Range slider */
.range-slider.range-scroll-chart__range-slider {
  --rs-before-background: var(--rschart-outside-areas-background);
  --rs-after-background: var(--rschart-outside-areas-background);
  --rs-selected-opacity: 0;
  --rs-background: none;
  --rs-area-size: 100%;
  --rs-slider-border-width: var(--rschart-slider-border-width);
  --rs-slider-border-style: var(--rschart-slider-border-style);
  --rs-slider-border-color: var(--rschart-slider-border-color);
  --rs-slider-background: var(--rschart-slider-background);
  --rs-slider-size: var(--rschart-slider-size);
  --rs-slider-length: var(--rschart-slider-length);
  --rs-slider-offset: calc((var(--rs-area-size) - var(--rs-slider-size)) / 2);

  position: absolute;
  width: 100%;
  max-width: 100%;

  .range-slider__area {
    max-width: 100%;
  }
}
