/* Paginator */
.paginator {
  display: inline-flex;
  flex-flow: row nowrap;
  margin-left: auto;
  padding: 5px 0;
}

.paginator-item {
  margin-left: 5px;
  height: 22px;
  line-height: 22px;
}

a.paginator-item {
    cursor: pointer;
}

.paginator-item__active {
  font-weight: bold;
}
