/* Chart x-axis labels */
.chart__text.chart-x-axis__label {
  --chart-x-axis-font-family: "Segoe UI", sans-serif;
  --chart-x-axis-font-size: var(--chart-text-size);
  --chart-x-axis-font-weight: 400;
  --chart-x-axis-text-color: var(--chart-text-color);
  --chart-x-axis-text-anchor: start;

  font-family: var(--chart-x-axis-font-family);
  font-size: var(--chart-x-axis-font-size);
  font-weight: var(--chart-x-axis-font-weight);
  text-anchor: var(--chart-x-axis-text-anchor);
  fill: var(--chart-x-axis-text-color);
}
