/* Paginator */
.paginator {
  display: inline-flex;
  flex-flow: row nowrap;
  margin-left: auto;
  padding: 5px 0;
}

.paginator-item {
  margin-left: 5px;
}

a.paginator-item {
  cursor: pointer;
}

.paginator-item__active {
  font-weight: bold;
}

.paginator-arrow {
  width: 8px;
  display: flex;
  align-content: center;
  flex-flow: row nowrap;
  cursor: pointer;
}

.paginator-arrow[disabled] {
  pointer-events: none;
}

.paginator-arrow__icon {
  display: block;
  width: 8px;
  height: 21px;
}

.paginator-arrow__next .paginator-arrow__icon {
  rotate: 180deg;
}
