.range-slider-value {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.range-slider.vertical {
  --rs-max-length: 200px;
}

.range-slider.styled {
  /* Area */
  --rs-area-size: 0.75rem;
  --rs-area-border-style: solid;
  --rs-area-border-width: 2px;
  --rs-area-border-color: #6a2b97;
  --rs-area-border-radius: 100vh;
  --rs-background: #8b36c9;

  /* Slider  */
  --rs-slider-size: 1.5rem;
  --rs-slider-background: #ff9f20;
  --rs-slider-border-style: solid;
  --rs-slider-border-width: 2px;
  --rs-slider-border-color: #ffffff;
  --rs-slider-border-radius: 100vh;
  --rs-slider-offset: calc((var(--rs-area-size) - var(--rs-slider-size)) / 2);

  /* Before area */
  --rs-before-background: #2ac710;

  /* After area */
  --rs-after-background: #1082c7;

  /* Hover state */
  --rs-hover-background: #9e31ec;
  --rs-hover-slider-color: #ffaf48;
  --rs-hover-slider-border-color: #ffeed8;

  &.range-slider_x-axis .range-slider__area {
    margin-left: 1px;
    margin-right: 1px;
  }
}
