/* icon link */
.btn,
.btn:visited {
  --btn-size: 32px;
  --btn-background: none;
  --btn-padding: 0;
  --btn-content-padding: 0 0 0 5px;

  /* Border */
  --btn-border-width: 0;
  --btn-border-color: #00000000;
  --btn-border-style: none;
  --btn-border-radius: 0;

  /* Icon */
  --btn-icon-size: 24px;
  --btn-icon-width: var(--btn-icon-size);
  --btn-icon-height: var(--btn-icon-size);
  --btn-icon-color: #000000;

  /* Title */
  --btn-title-height: 1.1rem;
  --btn-font-size: 1rem;
  --btn-font-weight: 400;
  --btn-title-color: #000000;

  /* Disabled state */
  --btn-disabled-title-color: var(--btn-title-color);
  --btn-disabled-icon-color: var(--btn-icon-color);
  --btn-disabled-border-color: var(--btn-border-color);
  --btn-disabled-background: var(--btn-background);
  --btn-disabled-opacity: 0.3;

  /* Hover state */
  --btn-hover-title-color: var(--btn-title-color);
  --btn-hover-border-color: var(--btn-border-color);
  --btn-hover-icon-color: var(--btn-icon-color);
  --btn-hover-background: none;

  /* Active state */
  --btn-active-title-color: var(--btn-hover-title-color);
  --btn-active-border-color: var(--btn-border-color);
  --btn-active-icon-color: var(--btn-hover-icon-color);
  --btn-active-background: var(--btn-hover-background);

  /* Focused state */
  --btn-focus-title-color: var(--btn-title-color);
  --btn-focus-border-color: var(--btn-border-color);
  --btn-focus-icon-color: var(--btn-icon-color);
  --btn-focus-background: var(--btn-background);
  --btn-focus-shadow: 0 0 0 0.25rem #0d6efd40;
  --btn-focus-outline: none;

  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  height: var(--btn-size);
  line-height: var(--btn-size);
  border-width: var(--btn-border-width);
  border-style: var(--btn-border-style);
  border-color: var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);
  overflow: hidden;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: var(--btn-title-color);
  background: var(--btn-background);
  cursor: pointer;
}

.btn__icon {
  width: var(--btn-icon-width);
  height: var(--btn-icon-height);
  fill: var(--btn-icon-color);
}

.btn__content {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  padding: var(--btn-content-padding);
  height: var(--btn-size);
  line-height: var(--btn-size);
  white-space: nowrap;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  text-decoration: none;
  text-transform: none;
  color: var(--btn-title-color);
}

/* Focused state */
.btn:focus-visible {
  color: var(--btn-focus-title-color);
  background: var(--btn-focus-background);
  border-color: var(--btn-focus-border-color);
  box-shadow: var(--btn-focus-shadow);
  outline: var(--btn-focus-outline);

  .btn__icon {
    fill: var(--btn-focus-icon-color);
  }
}

/* Active state */
.btn:active {
  color: var(--btn-active-title-color);
  border-color: var(--btn-active-border-color);
  background: var(--btn-active-background);

  .btn__icon {
    fill: var(--btn-active-icon-color);
  }
}

/* Disabled state */
.btn[disabled] {
  color: var(--btn-disabled-title-color);
  border-color: var(--btn-disabled-border-color);
  background: var(--btn-disabled-background);
  opacity: var(--btn-disabled-opacity);
  pointer-events: none;
  cursor: default;

  .btn__icon {
    fill: var(--btn-disabled-icon-color);
  }
}

@media (hover: hover) {
  .btn:hover {
    color: var(--btn-hover-title-color);
    border-color: var(--btn-hover-border-color);
    background: var(--btn-hover-background);

    .btn__icon {
      fill: var(--btn-hover-icon-color);
    }

    .btn__content {
      color: var(--btn-hover-title-color);
    }
  }

  .btn:active:hover {
    color: var(--btn-active-title-color);
    border-color: var(--btn-active-border-color);
    background: var(--btn-active-background);

    .btn__icon {
      fill: var(--btn-active-icon-color);
    }
  }
}
