/* icon link */
.btn {
  --btn-size: 32px;
  --btn-background: none;
  --btn-border-radius: 0;
  --btn-padding: 0;
  --btn-content-padding: 0 0 0 5px;

  /* Icon */
  --btn-icon-size: 24px;
  --btn-icon-width: var(--btn-icon-size);
  --btn-icon-height: var(--btn-icon-size);
  --btn-icon-color: #000000;

  /* Title */
  --btn-title-height: 1.1rem;
  --btn-font-size: 1rem;
  --btn-font-weight: 400;
  --btn-title-color: #000000;

  /* Disabled state */
  --btn-disabled-title-color: var(--btn-title-color);
  --btn-disabled-icon-color: var(--btn-icon-color);
  --btn-disabled-background: var(--btn-background);
  --btn-disabled-opacity: 0.3;

  /* Hover state */
  --btn-hover-title-color: #888888;
  --btn-hover-icon-color: #888888;
  --btn-hover-background: none;

  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  height: var(--btn-size);
  line-height: var(--btn-size);
  border: 0 none;
  border-radius: var(--btn-border-radius);
  padding: var(--btn-padding);
  overflow: hidden;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  vertical-align: middle;
  text-decoration: none;
  color: var(--btn-title-color);
  background: var(--btn-background);
  cursor: pointer;

  &:focus-visible {
    box-shadow: var(--focus-shadow);
  }
}

.btn__icon {
  width: var(--btn-icon-width);
  min-width: var(--btn-size);
  height: var(--btn-icon-height);
  fill: var(--btn-icon-color);
}

.btn__content {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  vertical-align: middle;
  padding: var(--btn-content-padding);
  height: var(--btn-size);
  line-height: var(--btn-size);
  white-space: nowrap;
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  text-decoration: none;
  text-transform: none;
  color: var(--btn-title-color);
}

.btn[disabled] {
  color: var(--btn-disabled-title-color);
  background: var(--btn-disabled-background);
  opacity: var(--btn-disabled-opacity);
  pointer-events: none;
  cursor: default;

  .btn__icon {
    fill: var(--btn-disabled-icon-color);
  }
}

@media (hover: hover) {
  .btn:hover {
    color: var(--btn-hover-title-color);
    background: var(--btn-hover-background);

    .btn__icon {
      fill: var(--btn-hover-icon-color);
    }

    .btn__content {
      color: var(--btn-hover-title-color);
    }
  }
}
