/* Radio form */
.radio-form {
  display: block;
  margin-right: 2rem;
  margin-bottom: 1rem;

  legend {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
}

/* Radio fieldset */
.radio-fieldset {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 0.5rem 1rem;

  legend {
    font-weight: 500;
    margin-bottom: 0.25rem;
  }
}
